[2017-06-21 17:10] Bisaloo commented on #10545
[`paypal.com` is preloaded](https://hstspreload.org/?domain=paypal.com) as well but is [missing the `preload` header.](https://hstspreload.org/?domain=paypal.com)

[2017-06-21 17:13] Hainish commented on #10545
Note: the relevant HSTS files to be checked for inclusion are those in the browsers we support:

https://hg.mozilla.org/releases/mozilla-release/raw-file/FIREFOX_54_0_RELEASE/security/manager/ssl/nsSTSPreloadList.inc
https://hg.mozilla.org/releases/mozilla-aurora/raw-file/tip/security/manager/ssl/nsSTSPreloadList.inc
https://hg.mozilla.org/releases/mozilla-esr52/raw-file/FIREFOX_52_2_0esr_RELEASE/

[2017-06-21 17:16] Bisaloo commented on #10545
@Hainish, but ultimately, those lists are pulled from hstspreload.org, right ? There is simply a delay before domains are included in the lists you mention.

That's how I understand this at least. Please tell me if I am mistaken.

[2017-06-21 17:18] Hainish commented on #10545
The browsers are based on the Chrome list, yes.  But it may take a while before they are included in the browsers, so we don't want to remove the rules that are preloaded from the canonical source prematurely and leave them actually unprotected in the browsers.

[2017-06-21 17:20] Hainish commented on #10545
Also Mozilla has its own logic for removing preloaded domains, and it's often changing and not documented very well.  So we can't count on the Mozilla implementation mirroring the Chrome list very closely.

[2017-06-21 17:48] Bisaloo commented on #9906
What about redirect loops? For example [`Strawpoll.me.xml`](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Strawpoll.me.xml).

[2017-06-21 20:11] geoff915 commented on #10539
I'm on Win10. I've posted the issue on the Slimjet forums as well.

[2017-06-22 00:02] Hainish commented on #10007
Working on this currently

[2017-06-22 00:13] cschanaj commented on #9906
@Bisaloo I think that `other` from https://github.com/EFForg/https-everywhere/issues/9906#issuecomment-301509445 is good enough for this.

[2017-06-22 03:15] koops76 opened #10572 "Travis test fails with error 'SSL certificate problem: unable to get local issuer certificate' even though the certificate is valid"
For some reason tests for the pull request #10571 fail with the 'SSL certificate problem: unable to get local issuer certificate' even though the certificate used by [uesp.net](https://uesp.net) is a valid certificate issued by Comodo.

[Travis test log](https://travis-ci.org/EFForg/https-everywhere/jobs/245618490)

[2017-06-22 16:03] J0WI commented on #10572
The server serves an incomplete certificate chain: https://www.ssllabs.com/ssltest/analyze.html?d=uesp.net
You can reproduce the issue: `firefox --profile $(mktemp -d) --new-instance https://uesp.net`

If you ever visited a site using the same certificate chain, Firefox caches the intermediate chain and you won't notice the issue.

[2017-06-22 16:03] #10572 closed

[2017-06-22 16:53] cschanaj commented on #10545
I've just found out that [`Yahoo.xml`](https://github.com/cschanaj/https-everywhere/blob/master/src/chrome/content/rules/Yahoo.xml) was whitelisted in the `ruleset-coverage-whitelist.txt`. The file contain 2k+ lines and involves dozens of complicated rules, I don't think that anyone can re-activate it before the next release without significant effort ...

[2017-06-22 16:56] Bisaloo commented on #10545
Agreed. This is why we should keep different domains in separate rulesets. Updating behemoths such as `Yahoo.xml` is no fun and this leaves all domains unprotected.

[2017-06-22 17:06] cschanaj commented on #10545
If nobody can re-activate `Yahoo.xml` before the next release, I suggest to revert the changes from 9bf49cbeb4696cdea76df23f685da1d11031f693 on `Yahoo.xml` and whitelist it again.

Remark: original file prior to the comprehensive-fetch [`Yahoo.xml`](https://github.com/EFForg/https-everywhere/blob/3d21c7109723060e6260cc81f357ae9c67992458/src/chrome/content/rules/Yahoo.xml)

[2017-06-22 18:09] Bisaloo commented on #10227
I suspect [`leboncoin.fr.xml`](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/leboncoin.fr.xml) should be included in that list as well. I can't reproduce the time out found by `https-everywhere-checker`.

[2017-06-22 20:14] Hainish commented on #10545
It seems like at the very least we should remove the problematic domains flagged by the fetch test, even if we don't have time to go through the entire rule and simplify it.

[2017-06-23 00:07] cschanaj opened #10595 "Delete rulesets which are all gone from DNS"
I suspected a number of rulesets having all `target` gone from DNS: https://github.com/EFForg/https-everywhere/pull/10516#issuecomment-311502592

Please refer to [`gone-from-dns-list.txt`](https://github.com/cschanaj/https-everywhere-issues/blob/master/gone-from-dns-list.txt)

[2017-06-23 05:42] Bisaloo commented on #10595
`Caisse-Epargne.fr.xml` is not gone from DNS.

[2017-06-23 22:26] AmazonIN commented on #10515
Update: June 23, 2017

Navigate here: [http://www.amazon.in/gp/goldbox/](url)
To the very bottom there is an option:  Global Savings and Sale

Now click the ">" to go to next page.
You will here see infinite loading circle on disappeared items.

[2017-06-24 13:39] Bisaloo commented on #10227
[`CAcert.xml`](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/CAcert.xml) probably needs to be whitelisted as well.

[2017-06-24 17:49] ghost opened #10674 "Nicovideo's video's will not play with the extension enabled"
I use nicovideo to watch videos from time to time. However, with this extension enabled, the videos will not load and simply show a black screen in place where the video should've been, I need to disable the extension when I want to watch videos there, and re-enable it again once I'm done. Kinda annoying and a little more security risk. It would be great if this got fixed.

The site domain of the

[2017-06-25 02:55] cschanaj commented on #10674
Do you mind to specify which browser and HTTPS version you use? Also, it seem to me that the HTML5 playback works correctly, are you using the Flash for video playback?

[2017-06-25 12:37] notasan opened #10686 "Reuters.com doesn't switch to HTTPS even though it's available"
HTTPS Everywhere is enabled in Firefox, but if I go to reuters.com, it remains unencrypted. If I go to https://www.reuters.com it works.

This most likely has something to do with the www. prefix.

Could it be an idea to implement a list in the plug-in that contains special instructions to switch to https for some websites?

tl;dr HTTPS Everywhere does not enable HTTPS on reuters.com because merel

[2017-06-25 13:15] Bisaloo commented on #10686
Hi, thanks for reaching out!

This is actually what this extension is doing. It relies on user contributed rules to rewrite websites to https because it is indeed sometimes more complicated than simply rewriting `http` to `https`. [Here](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Nature.com.xml) is an example of a such ruleset.

The reuters ruleset is [https://

[2017-06-25 14:55] Horthal commented on #10674
I use the latest version of Google Chrome and the HTTPS Version is; 2017.6.20.

And the site uses only Flash for their videos, so yes on that last question I guess.

[2017-06-25 16:27] koops76 commented on #10595
Maybe we should wait for some time to let them renew their domains before deleting the rulesets?

[2017-06-25 17:37] terrorist96 opened #10705 "Smithsonianmag.com (partial) breaks images"
http://www.smithsonianmag.com/science-nature/why-does-the-durian-fruit-smell-so-terrible-149205532/

`Smithsonianmag.com (partial)` breaks images

[2017-06-26 01:12] cschanaj commented on #10595
@koops76 Thank you for helping in resolving this issue. Please note that not all the domain listed in the above are completely gone from DNS. Occasionally, you might want to update a ruleset instead of deletion.

[2017-06-26 11:34] LebedevRI opened #10712 "Different states for normal browser mode, and incognito"
Hi.
It may be useful to be able to have different values of a setting "Block all unencrypted requests" in normal browsing mode, and in e.g. chrome's incognito mode.
While one can manually toggle it each time when opening incognito window, it is error-prone, and has bad usability.

[2017-06-26 11:52] J0WI commented on #9667
You can try to exclude `http://realmofthemadgodhrd.appspot.com/crossdomain.xml`

[2017-06-26 12:13] koops76 commented on #10712
Not sure what's the motivation for this. Why do you want to block all HTTP requests in incognito mode but not while browsing normally?

[2017-06-26 12:14] LebedevRI commented on #10712
Yep

[2017-06-26 12:16] koops76 commented on #10674
@Horthal Until this issue is fixed, only disable Nicovideo's ruleset and not the entire extension so you will still have extra security it adds.

[2017-06-26 12:17] koops76 commented on #10712
But why do you want that?

[2017-06-26 12:20] koops76 commented on #10227
This is a problematic ruleset example where 404 error is expected but means it cannot pass the testing if there is no whitelist: #10708

[2017-06-26 13:18] #10686 closed

[2017-06-26 13:43] Bisaloo commented on #9994
After more testing, I believe this is actually not due to HTTPS-Everywhere. I can't reproduce this issue on a fresh profile with HTTPS-Everywhere installed and in my current profile, it doesn't work even with all add-ons disabled.

[2017-06-26 13:43] #9994 closed

[2017-06-26 14:17] koops76 commented on #10227
@Bisaloo also each `platform=cacert` ruleset.

[2017-06-26 14:23] jeremyn commented on #10712
In Firefox you can create a new profile (`about:profiles`), set it to permanent private browsing mode (`about:preferences#privacy > "Firefox will: Never remember history"`), and install a new instance of HTTPS Everywhere with its own settings. You can then switch to this second profile to get the desired effect.

As far as I know, Chrome doesn't have incognito mode profiles in the same way. The be

[2017-06-26 14:28] Bisaloo commented on #10227
No, the tests handle other `platform="cacert"` rulesets just fine. This issue with `CAcert.xml` is that it appears as self-signed to `https-everywhere-checker`.

[2017-06-26 14:58] #10515 closed

[2017-06-26 16:01] cschanaj commented on #10674
@koops76 did you test if disabling `nicovideo.jp` related rulesets works (which one)? I can only can the video played with the extension disabled.

[2017-06-26 16:06] koops76 commented on #10674
@cschanaj Can you send me a developer tools log?

[2017-06-26 16:10] cschanaj commented on #10674
I can't since the machine I am using now do not have Flash installed. But I can have a closer look into this issue later. Thanks anyway.

[2017-06-26 16:34] koops76 opened #10720 "Move the rulesets and Chromium and Firefox extensions into separate repos"
It would be better to not tie the ruleset updates to HTTPS Everywhere releases. Instead the rulesets should be updated separately. The rulesets could be downloaded by the extension from a CDN like CloudFront. To protect the users from CDN compromise the rulesets' signature should be verified by OpenPGPjs or another method. It also makes sense to move the rules into a separate Git repository.

[2017-06-26 16:52] cschanaj commented on #10720
#2697 #9104

[2017-06-26 16:56] Bisaloo commented on #10720
also https://github.com/EFForg/https-everywhere/issues/2605

[2017-06-26 17:12] koops76 commented on #10720
This is not an exact duplicate of previous issues. This one suggests how the ruleset updates can be secured. Also a separate repository for rules would actually make contributing easier. However it requires changes on the EFF side. It's not something we can do on our own.

[2017-06-26 17:15] ghost opened #10724 "Add a code of conduct"
We'll need to add a code of conduct when the EFF lawyers will write one.

[2017-06-26 18:11] koops76 commented on #10720
@Hainish

[2017-06-26 18:16] koops76 commented on #10720
@Hainish We need your opinion on moving the extensions for each browser and the rulesets into separate repos.

[2017-06-26 18:19] Hainish commented on #10720
We're going to be removing the Firefox extension codebase within a few months, so there's no need to move it into a separate repo.

There is already an open branch to deliver the rulesets out-of-band from the repository itself, hosted here: https://github.com/hainish/https-everywhere/tree/sign-rulesets.  The rulesets are verified using the WebCrypto API.  This will be deployed in the upcoming mont

[2017-06-26 18:20] #10720 closed

[2017-06-26 18:20] koops76 commented on #10720
I think this can be closed now.

[2017-06-26 18:26] koops76 commented on #10720
@Hainish What is the SSL Observatory's fate? WebExtensions-based extensions cannot get the SSL certificate data.

[2017-06-26 18:27] koops76 commented on #10724
@Hainish What's your opinion on adding a code of conduct?

[2017-06-26 18:40] Hainish commented on #10720
The Decentralized SSL Observatory will not be part of the initial Firefox WebExtensions deployment.  We've been working with the Chromium team to add support for certificate introspection.  There's a good chance of it happening and being incorporated into the WebExtensions API, but not imminently.

[2017-06-26 19:33] Hainish commented on #10227
All rulesets such as https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/CAcert.xml that are signed by the `CACert` pseudo-CA should be disabled with `default_off='cacert'`.  This will cause it to pass the fetch test.  The problem isn't that it's self-signed, the problem is that it is not a valid CA in the browsers by default.

[code]

[2017-06-26 19:40] koops76 commented on #10227
I changed the reason of CACert ruleset being disabled from "failed ruleset test" to "cacert".

[2017-06-27 01:15] cschanaj commented on #10227
@Hainish there is 37 ruleset with `platform="cacert"`, are we going to do the same thing as in https://github.com/EFForg/https-everywhere/pull/10733#issuecomment-311223390 with all of them?

Now related: #9906

[2017-06-27 01:44] Hainish commented on #10227
That's what I was thinking. Then again it may be more useful just to change the fetch tests to auto-pass `platform='cacert'` rules, or (better yet) for these rules to include the `cacert` root, which you can provide to the underlying `pycurl` library.

On June 26, 2017 6:15:10 PM PDT, Chan Chak Shing <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my

[2017-06-27 02:39] cschanaj commented on #10227
I prefer to modify the fetch test since I want to avoid adding new default_off attribute. I will look into the code later. Thanks!

[2017-06-27 05:57] Bisaloo commented on #10227
Related: https://github.com/EFForg/https-everywhere/issues/7375.

[2017-06-27 08:10] Bisaloo commented on #10595
@cschanaj, any idea why your script didn't pick up  #10738, #10732, #10729?

[2017-06-27 08:27] cschanaj commented on #10595
For #10738, #10732 The items from the list only include ruleset which

 - `Disabled by https-everywhere-checker` once only
 - Number of occurrence of `Could not resolve host:` == number of non-wildcard `target`

As for #10729, I guess it is because of the improper indentation (with space)

[2017-06-27 11:31] martinsuchan commented on #5101
So what's the status of the extension for Edge, any blockers I can help with or ETA when it could be ready?

[2017-06-27 12:57] koops76 opened #10770 "MD5 and SHA-1 are used for signing the Firefox extension"
[src/META-INF/manifest.mf](https://github.com/EFForg/https-everywhere/blob/master/src/META-INF/manifest.mf):
[code]

Both the [MD5](https://en.wikipedia.org/wiki/MD5#Security) and [SHA-1](https://en.wikipedia.org/wiki/SHA-1#Cryptanalysis_and_validation) are [weak](https://security.googleblog.com/2017/02/announcing-first-sha1-collision.html).

[2017-06-27 14:19] koops76 commented on #7375
Add `default_off="cacert"` to the ruleset and it will work.

[2017-06-27 14:58] jeremyn commented on #10724
I'm not @Hainish but I agree with having a code of conduct. The [Contributor Covenant](http://contributor-covenant.org/) looks pretty good and has traction in major projects.

[2017-06-27 15:22] koops76 commented on #10724
Still @SwartzCr already contacted the lawyers.

[2017-06-27 15:22] #6907 closed

[2017-06-27 15:23] koops76 commented on #10724
certbot/certbot#4841

[2017-06-27 15:49] jeremyn commented on #10724
I wasn't aware of the related discussion in the certbot project. I'm sure the EFF will want to use the same code of conduct across all of their projects.

[2017-06-27 18:11] Hainish commented on #10724
This is going through internal process at EFF currently.

[2017-06-27 18:26] koops76 commented on #10770
@Hainish ping

[2017-06-27 18:27] koops76 commented on #10770
@Hainish Do you own the AMO account?

[2017-06-27 22:18] cschanaj commented on #10595
Let's wait for the discussion in https://github.com/EFForg/https-everywhere/pull/10516#issuecomment-311387749 complete before submitting new deletion PRs.

[2017-06-28 10:18] jfkb opened #10779 "[changing-cities.org] add ruleset"

[2017-06-28 10:34] koops76 commented on #10779
Are you sure? I can't reproduce this issue.

[2017-06-28 10:36] jfkb commented on #10779
if I go to that page:
http://changing-cities.org/projekte.html

There apparently is a https version of it:
https://changing-cities.org/projekte.html

Maybe there is another issue behind it?

[2017-06-28 11:06] Bisaloo commented on #10779
Thank you for your report. Actually, HTTPS-Everywhere rewrites URL based on a user contributed set of rules.

There is simply no rule for the website you are talking about. This is why you are not redirected. If you would like to add one yourself, here is [how to get started.](https://github.com/EFForg/https-everywhere/blob/master/CONTRIBUTING.md)

[2017-06-28 13:25] cschanaj opened #10782 "Re-activate top-1k from #10538"
#10538 Noted that this is not as urgent as #10545 .

### top-1k

- [x] ~./https-everywhere/rules/Automatic_Data_Processing.xml~
- [x] ./https-everywhere/rules/Lowes.com.xml #10893
- [x] ./https-everywhere/rules/ASUS.xml #10789
- [x] ./https-everywhere/rules/LinkedIn.xml #10624
- [x] ./https-everywhere/rules/Live.xml #10625
- [x] ./https-everywhere/rules/Mail.ru.xml #10626
- [x] ./https-everywhere/

[2017-06-28 13:46] gitarra opened #10783 "Bigstock ruleset broken"
Broken redirection:

http://static3.bigstockphoto.com/thumbs/7/6/1/large1500/16724738.jpg

[2017-06-28 17:50] koops76 commented on #10002
#10773

[2017-06-28 17:50] koops76 commented on #2470
#10773

[2017-06-28 19:47] bershan2 commented on #10720
@Hainish, as per

[This comment](https://github.com/EFForg/https-everywhere/issues/1775#issuecomment-256973768) and [this one too](https://github.com/EFForg/https-everywhere/issues/1775#issuecomment-299102506) suggest that Chrome uses inferior data structure that would be replaced by Firefox'es... but you  suggest to get rid of it... So is Firefox code being merged into WebExtensions (probably, Ch

[2017-06-28 20:24] a80b8829 commented on #10539
Using ANY VERSION OF SLIMJET 14.x causes issues:
Any version of windows 7,x 8.x, 10.x, seems might partially work in Vista x64.
SOMETHING IS BROKEN WITH THE HTTPS EXTENSION!

IF ENABLED IT WILL NOT ALLOW YOU TO GET TO ANY WEB SITE HTTP OR HTTPS -*AND* CRASHES EVERY ADD-ON / EXTENSION.

[2017-06-28 23:35] Hainish commented on #10720
@bershan2 definitely not merged, since it's unusable in WebExtensions.  We've been porting some of the Firefox functionality to WebExtensions, we should also port the data structures from Chrome in at some point.

[2017-06-30 07:40] yfdyh000 opened #10814 "zh-CN should be zh_CN in translations, for Chrome"
In addition, why releases no locales except `en`?

[2017-06-30 08:01] numismatika commented on #275
So far it seems that the following 3 subdomains break the player with mixed content trouble:

`
	<target host="emp.bbc.co.uk" />
	<target host="open.live.bbc.co.uk"/>
	<target host="emp.bbci.co.uk" />
`
unfortunately the underlying Firefox problem is still not solved yet.
BBC community management still says "work in progress, be patient".

[2017-06-30 08:10] Bisaloo commented on #10814
Related: https://github.com/EFForg/https-everywhere/issues/9631

[2017-06-30 08:12] Bisaloo commented on #10814
Somewhat related: https://github.com/EFForg/https-everywhere/issues/9631

[2017-06-30 12:24] BK1233 opened #10819 "Add rule for factcheck.org"
factcheck.org is HTTPS enabled but not by default.

[2017-06-30 16:42] kjorand opened #10822 "Custom Rules with WebExtensions"
Hi,
According to this [site](https://superuser.com/questions/681657/where-are-https-everywhere-rules-stored-in-google-chrome) it is now possible to add custom rules to Google Chrome by just editing a few lines of it's code, but doing so we *corrupt* the app which Chrome doen't seem to appreciate it.
Could it be possible to apply the trick descibed above directly in the code of the extension (no co

[2017-07-01 05:51] Bisaloo commented on #10819
I created a ruleset in #10825 but it will be off by default because https://www.factcheck.org/ has active mixed content issues.

[2017-07-01 10:45] numismatika commented on #10819
@Bisaloo  i only see passive mixed content problems from dev.factcheck.org so far from a couple of pictures.

[2017-07-01 12:12] koops76 commented on #10782
@cschanaj ./https-everywhere/rules/Electronic-Arts.xml is not disabled.

[2017-07-01 12:35] cschanaj commented on #10782
@koops76 noted with thanks!

P.S. do you mind to fix the Travis error in #10836, #10795 and #10794 before further working on this issues?

[2017-07-01 13:13] koops76 commented on #10782
@cschanaj Done.

[2017-07-01 13:13] koops76 commented on #10782
@cschanaj Maybe you should create a top-10k issue too?

[2017-07-01 17:05] jeremyn commented on #10822
I'm not entirely sure what you're asking for, but Firefox lets you use complete custom ruleset files as described in https://www.eff.org/https-everywhere/rulesets#testing, by putting the files into a special directory. Chrome has a limited ability to add custom rules using the extension GUI with `Add a rule for this site`.

With the coming requirement for add-ons to use WebExtensions instead of XU

[2017-07-01 17:34] SamuelePilleri opened #10842 "Mixed Content lightweight DOM trasversal"
This is kind of related to #2017 though not exactly the same.

When creating a rule, we can client-side rewrite page url, switching to https, but this potentially leads to MCB errors with URLs hardcoded in the document ([related](https://www.eff.org/it/node/58830#mixed-content-blocking-mcb)).

Most of them can be fixed with very simple JavaScript and CSS selectors, making the site usable out of th

[2017-07-01 17:58] koops76 opened #10843 "If possible, rewrite the rulesets in a way that does not require HTTPS->HTTPS rules."
Related: #10839
- [ ] 7Headlines.com.xml
- [ ] Aeriagames.xml
- [ ] AJC.com.xml
- [ ] basekit.com.xml
- [ ] Blip.xml
- [ ] CA-State-Board-of-Equalization.xml
- [ ] Caltech.xml
- [ ] cambridgeshire.gov.uk.xml
- [ ] Care-Net.xml
- [ ] Comic-Con-Intl.xml
- [ ] Cru.org.xml
- [ ] DailyDot.xml
- [ ] Epic-Systems.xml
- [ ] Fasthosts.xml
- [ ] First_Class_Magazine.se.xml
- [ ] Google.xml
- [ ] HealthCheck

[2017-07-01 19:24] ghost opened #10845 "Use ESLint"
We may use [standard](https://github.com/standard/standard) for rules.

[2017-07-01 22:47] cschanaj commented on #10782
@koops76 I would like to wait until #10545 and this PRs are closed.

[2017-07-02 10:32] cschanaj commented on #10843
Noted that the following rulesets do not rewrite HTTPS.
[code]

[2017-07-02 11:08] koops76 commented on #10842
I'm not sure if replacing href/src in pages is in scope of HTTPS Everywhere.

[2017-07-02 18:31] jony0008 commented on #3069
Please add https://www.supersavertravel.se/ and https://www.momondo.se/

[2017-07-02 21:10] SamuelePilleri commented on #10842
This is the dilemma, I think authors should take a decision on this. I thought about this extension because it comes with a huge and updated database and solves pretty much the same problem, but some deep modifications should be done.

Another solution to this issue is to selectively disable MCB on pages that are known to behave strangely, but I don't know if this is possible; something like this:

[2017-07-02 21:14] koops76 commented on #10842
@SamuelePilleri This is not possible since the WebExtensions-based extensions cannot disable MCB.

[2017-07-02 21:39] SamuelePilleri commented on #10842
How about modifying the response body before it gets parsed by the browser? I'm don't have any experience in plugin development, but looking at the code `HTTPS.handleSecureCookies(req)` does something similar with response headers. Thinking about `<link>`, `<script>` and `<img>` that _cannot have children_ as far as I know, this would be a simple regex (I think elements that _can_ have children wo

[2017-07-02 21:42] koops76 opened #10861 "Very large pull requests always fail Travis tests."
For example #10860

Error message: `test/travis.sh: line 74: /usr/bin/docker: Argument list too long`

[2017-07-02 22:36] SamuelePilleri commented on #10842
Actually, I think a simple regex like this could make it:

[code]

[2017-07-03 02:23] cschanaj commented on #10842
Linking #8506

[2017-07-03 12:09] HTTPSNowhere opened #10865 "LLVM.org got HTTPS"
Please update the ruleset.

https://lists.llvm.org/pipermail/llvm-dev/2017-June/114554.html

Ruleset: https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/LLVM.org.xml

[2017-07-03 14:13] koops76 commented on #10071
#10865

[2017-07-03 18:21] a80b8829 commented on #10539
Also can confirm it is STILL BROKEN ON SlimJet 15.0 BETA Release x86 or x64 versions

[2017-07-04 06:52] numismatika commented on #10861
Or as in #7924
`
The job exceeded the maximum time limit for jobs, and has been terminated.
`
Unfortunately you cannot simply use a wildcard for such complex sites.

[2017-07-04 09:29] gloomy-ghost commented on #10395
Fixed by https://github.com/EFForg/https-everywhere/commit/766ef70eb781d9b9d1cb73fbcf33b0bd56dc7639

[2017-07-04 09:29] #10395 closed

[2017-07-04 09:42] gloomy-ghost commented on #10071
Closing as LLVM.org had [announced](https://lists.llvm.org/pipermail/llvm-dev/2017-June/114554.html) HTTPS support one week ago.
Current valid certificate: https://crt.sh/?id=160744179

[2017-07-04 09:42] #10071 closed

[2017-07-04 09:47] gloomy-ghost commented on #10814
Ping @Hainish

[2017-07-05 02:04] gloomy-ghost commented on #10865
Closed by #10866

[2017-07-05 02:04] #10865 closed

[2017-07-05 02:46] gloomy-ghost opened #10873 "Fetcher should send headers of an actual browser"
This can help us to avoid issues like #9877 where the fetching test failed because the site used header sniffing to determine bots. In addition, We should send excally the same headers, as some sites are sniffing headers other than User-Agent. e.g. [sniffing of `upgrade-insecure-requests`](https://github.com/EFForg/https-everywhere/pull/8940#issuecomment-287646604)

[2017-07-05 09:53] gloomy-ghost commented on #1327
I am closing this as the support of downgrade rules has been removed in #10396.

[2017-07-05 09:53] #1327 closed

[2017-07-05 10:13] gloomy-ghost commented on #10770
This is about how does AMO sign an extension. I don't think there are anything we can do here.

Related doc: https://wiki.mozilla.org/Add-ons/Extension_Signing#Algorithm

[2017-07-05 10:13] #10770 closed

[2017-07-05 10:25] gloomy-ghost commented on #1123
We will move to WebExtension which is restartless as described in #9958, and I don't think there will be further developments for the XPCOM version as it's already deprecated.

[2017-07-05 10:25] #1123 closed

[2017-07-05 10:40] #6625 closed

[2017-07-05 11:25] J0WI commented on #10845
See #8843 and #9347

[2017-07-05 12:17] ivysrono commented on #9906
#10522

Reduce CN only rule as much as possible

[2017-07-05 13:35] J0WI opened #10877 "Test if target is a valid host"
See #10869

[2017-07-05 13:58] #10783 closed

[2017-07-05 13:59] ivysrono opened #10882 "Re-activate top-10k+ from #10538"
Type: ruleset issue

Related: #9906 #10538 #10545 #10782

- [x] #6938

- [x] #10879

- [x] #10881

- [x] #10911

- [x] #10914

- [x] #10994

- [x] #11032

- [x] #11256

- [x] #11337

- [x] #11634

- [x] #11642

- [x] #11664

- [x] #11715

- [x] #12507

- [x] #12757

- [x] #12982

- [x] #13008

[2017-07-05 15:09] koops76 commented on #10845
@J0WI I suggested https://github.com/standard/standard instead of a homebrewn .eslintrc.yml file. This pull request is also out of date ("This branch has conflicts that must be resolved").

[2017-07-05 19:03] koops76 commented on #10882
@ivysrono Maybe you'll add the actual list?

[2017-07-05 20:39] Hainish commented on #10545
Closing, since this seems to be done now.

[2017-07-05 20:39] #10545 closed

[2017-07-05 20:55] Hainish commented on #10814
The `en` locale is used as a template for translations that are performed in transifex.

To quote https://github.com/EFForg/https-everywhere/blob/83f6bb5233dd5cc49175cbd44b0fccf973242a42/src/chrome/locale/README.txt#L13-L15

All other locales are located in the `translations` subrepo.

[2017-07-05 21:02] gloomy-ghost commented on #10814
The thing is `zh-CN` is not recognised by Chrome, as it should be `zh_CN`. Also the current WebExtension beta for Firefox only includes the `en` locale.

[2017-07-05 21:16] Hainish commented on #10814
Translations have already been made under the `zh-CN` label, rather than `zh_CN`, see https://gitweb.torproject.org/translation.git/tree/?h=https_everywhere

This means that changing this locale may remove this translation from being sourced from transifex.  If this is the case, we'll have to re-add the translations from what we have in `zh-CN`.

I'll look into the mozilla translations problem.

[2017-07-05 22:46] yfdyh000 commented on #10814
Maybe mv zh-CN to zh_CN in makecrx.sh is acceptable.

[2017-07-05 22:56] Hainish commented on #10814
No, we don't want to be making all these exceptions in build scripts because of irregularities.

On Wed, 05 Jul 2017 15:46:50 -0700, YFdyh000 wrote:

[2017-07-06 04:45] Hainish commented on #10536
Release made: https://github.com/EFForg/https-everywhere/pull/10887

[2017-07-06 04:45] #10536 closed

[2017-07-06 04:47] Hainish opened #10888 "Release 5.2.21 forthcoming"
cc @jsha @cooperq @pde @J0WI @fuglede @semenko @loveithateit @diracdeltas @jeremyn

Scheduled for 7/18 or 7/19

[2017-07-06 11:40] #10674 closed

[2017-07-06 11:43] J0WI commented on #10545
Thanks!

[2017-07-06 11:56] cschanaj commented on #10782
hopefully #10888

[2017-07-06 12:20] cschanaj commented on #10877
@J0WI thank you for opening this issue. I would like to add some details here.

In #10869 I checked if a `target `is valid by matching it against the [`Public Suffix List`](https://publicsuffix.org/). While this test does not guarantee each target has a working DNS record, it has the advantage that no network request is required to perform the checking.

It was found that [`AM-Best-Company.xml#L11

[2017-07-06 17:22] jeremyn commented on #10845
Despite the name, standardjs is not an official standard, it's just popular with some developers. It also has some unusual requirements like not allowing semicolons. Related Hacker News discussion: https://news.ycombinator.com/item?id=14045617.

Two other popular eslint configurations are from Google and Airbnb. Probably the ideal way of deciding what to use it to try all three of them and figure

[2017-07-06 17:25] koops76 commented on #10888
Oops. @Hainish you included broken code from #10852. Roll it back in the release branch but not in master.

[2017-07-06 17:30] Hainish commented on #10888
@koops76 this was not included in the `5.2.20` release, and was not included in the (release)[https://github.com/EFForg/https-everywhere/tree/release] branch, which is only used for the HTTPS Everywhere Atlas.

[2017-07-06 17:37] koops76 commented on #10888
I made a PR reverting all changes except the minimum required Chromium version: #10895

[2017-07-06 17:41] koops76 commented on #10845
@jeremyn It doesn't claim to be one: https://github.com/standard/standard#but-this-isnt-a-real-web-standard

[2017-07-06 19:54] Bisaloo commented on #10779
I was going to add a rule but I think this website is still being updated/built. It now redirects to `https` but `^https://www.changing-cities.org/` is broken.

I prefer waiting until they're done before creating a ruleset.

[2017-07-06 20:29] koops76 commented on #10845
#10897

[2017-07-06 21:34] TroyGuffey opened #10898 "Doesn't play nice with DeCentralEyes in Chrome"
This extension failed to redirect a network request to chrome-extension://ldpochfccmkkmhdbclfhpagapcfdljkj/resources/jquery/1.10.2/jquery.min.js.dec because another extension (HTTPS Everywhere) redirected it to https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js.

[2017-07-06 21:37] TroyGuffey commented on #10898
Ah, found a solution:  https://decentraleyes.org/configure-https-everywhere/

[2017-07-06 23:25] Hainish commented on #10814
The translations repo has been updated, this should be fixed, please:

[code]

to confirm.

[2017-07-06 23:32] Hainish commented on #10814
I just tested using the `zh_cn` locale, seems to be working, closing.

[2017-07-06 23:32] #10814 closed

[2017-07-07 00:00] J0WI commented on #10873
See also #10833

[2017-07-07 03:20] Hainish commented on #10227
Fixed in #10900

[2017-07-07 04:21] BK1233 commented on #10888
Just wondering a lot of rulesets have suddenly failed and been put into the experimental section?

[2017-07-07 04:29] Hainish commented on #10888
@BK1233 see https://github.com/EFForg/https-everywhere/pull/10538

[2017-07-07 04:53] Bisaloo commented on #10898
https://github.com/EFForg/https-everywhere/issues/9404 and https://github.com/Synzvato/decentraleyes/issues/148.

[2017-07-07 21:52] Hainish commented on #10845
Can this be closed with the #10852 merge?

[2017-07-07 22:23] koops76 commented on #10845
@Hainish No, it should be closed when one of the JS style guide PRs will be merged.

[2017-07-07 22:24] koops76 commented on #10845
@Hainish Like #10909.

[2017-07-08 09:37] bardiharborow commented on #10819
@Bisaloo the issue appears to have been resolved apart from `http://dev.factcheck.org/UploadedFiles/2017/03/SOTU_0329.png` and `http://cdn.factcheck.org/UploadedFiles/Greenfield_donatenow.png`.

[2017-07-08 10:24] Bisaloo commented on #10819
Nope. Not sure why but I am still having the issues I mentioned earlier.

[2017-07-08 14:12] bardiharborow commented on #10017
@jehiah re-pinging.

[2017-07-08 14:15] #9085 closed

[2017-07-08 14:20] bardiharborow commented on #8229
Fixed by #10228.

[2017-07-08 14:27] bardiharborow commented on #9506
This domain has mixed content issues. @jeremyn can I get clarification about whether HTTPSE can do anything about that, as there is a rule for `http://i1.wp.com` but it's doesn't still doesn't stop the warnings.

[2017-07-08 16:20] LanceHaverkamp opened #10950 "StockCharts.com page reload loop"
StockCharts.com gets stuck in rapid page reload loop on Firefox.  Seems fine in Chrome.

HTTPS Everywhere 5.2.20
in Xubuntu 16.04.01 (LTS)
using Firefox 54.0 (64-bit)

[2017-07-08 16:35] jeremyn commented on #9506
@bardiharborow See https://www.eff.org/https-everywhere/rulesets#mixed-content-blocking-mcb.

[2017-07-08 17:07] Bisaloo commented on #1327
For reference, the work to remove `https` -> `https` rewrites is being continued in https://github.com/EFForg/https-everywhere/issues/10843.

[2017-07-08 21:51] koops76 commented on #10845
@Hainish I already created the PRs for each code style. Let's discuss which to use. Personally, I would prefer either Standard or Google.

[2017-07-08 21:52] koops76 commented on #10845
I hope we'll finish this before the next release.

[2017-07-08 23:38] Hainish commented on #10873
@gloomy-ghost this is always the goal, but I don't think we need to open an issue for this.  Especially because there are strange idiosyncrasies with pyCurl, we're never going to get 100% alignment with the browsers, see https://github.com/EFForg/https-everywhere/pull/10944.  Plus the browsers are a moving target.

I suggest a more specific issue, like "Update user-agent string to Firefox 52" or s

[2017-07-08 23:38] #10873 closed

[2017-07-08 23:47] Manu1400 opened #10962 "Fix rules on lemonde.fr website"
1/ Install on Google Chrome HTTPS everywhere extensions
2/ Go to http://www.lemonde.fr/ homepage
3/ The CSS https://asset.lemde.fr/data/0.14.2/css/cadre-page.css ressource can be downloaded with HTTPS.

Note: same issue on website http://libresglisses.blog.lemonde.fr/2017/07/08/surf-une-ceremonie-paddle-out-a-la-memoire-de-jack-oneill/

Please, don't force HTTPS on lemde.fr domain and subdomains.

[2017-07-09 06:40] Bisaloo commented on #10962
Okay, I take the blame for this one. I enabled the `lemde.fr` ruleset for everyone.

`asset.lemde.fr` wasn't included in the ruleset because it is mismatched.

But `s1.lemde.fr` links to `//asset.lemde.fr/data/0.14.2/css/cadre-page.css` in a tricky way and I overlooked that.

[code]
I have submitted a fix in #10964. It should be included in the next release. In the meantime, you can disable `lemde

[2017-07-09 08:40] derpyderpaderp opened #10968 "[msn.com] Not forcing https"
Msn is not forcing itself to HTTPS any ideas as to why? I read an issue from back in april but it seems to have been fixed then. It is now broken again. Any help to lead me into the right direction on how to fix this would be appreciated. PS. I am on the latest version of chrome thanks!

[2017-07-09 08:45] Bisaloo commented on #10845
Should help with https://github.com/EFForg/https-everywhere/issues/4039.

[2017-07-09 10:28] LinAGKar opened #10970 "Cloudfront.net rule breaks No such thing as a fish audio player"
When the cloudfront.net rule is active the audio player on http://qi.com/podcast/ will not appear.

[2017-07-09 19:47] numismatika commented on #10970
classical CORS problem.
You could ask the site-owner to switch to Let's Encrypt instead of a self-signed cert.

[2017-07-10 02:27] gopherit commented on #10822
I use the custom rules directory in Firefox for all of my development and testing purposes before I even think of submitting a PR.  I'd hate to see that functionality disappear.

[2017-07-10 08:06] numismatika commented on #10970
#10991 might help here as it rewrites most of the player as well.
Seems to work here

[2017-07-10 09:35] jony0008 commented on #3069
Please add https://open-books.calibre-ebook.com/

[2017-07-11 00:12] Synzvato commented on #9404
Follow this brief guide to resolve the redirection conflicts:
https://decentraleyes.org/configure-https-everywhere/

[2017-07-11 03:47] UsernameLoginIsAlreadyTaken commented on #3798
Tor Browser already included HTTPS Everywhere by default. How about adding a new function to detect
the browser? If the user is using Firefox, redirect to https. If not, redirect to .onion.

My pull request have 3 URLs: http, https, onion.
https://github.com/EFForg/https-everywhere/pull/11009

[2017-07-11 11:03] rugk opened #11018 "OpenStreetMap failed ruleset test"
[OpenStreetMap](https://github.com/EFForg/https-everywhere/blob/9bf49cbeb4696cdea76df23f685da1d11031f693/src/chrome/content/rules/OpenStreetMap.org.xml) currently has  a failed ruleset test because of maps.openstreetmap.org.

It would be nice if this is fixed.

[2017-07-11 11:58] sabret00the commented on #9958
Have Mozilla still not got back to you regarding a secure signing mechanism @Hainish ?

[2017-07-12 00:26] kpcyrd opened #11027 ""Compatible with Firefox 57+" badge"
https-everywhere is currently one of the three extensions I have installed and I'd like to get on the multi content process train as soon as possible. :)

I've noticed https-everywhere currently doesn't have this badge. It links to this page: https://support.mozilla.org/en-US/kb/firefox-add-technology-modernizing

I'm not sure if there's currently progress to this topic, or if it's blocked by anyt

[2017-07-12 04:58] VioletRose opened #11029 "myfitnesspal.com partially broken"
This is a food diary/fitness tracking site, and on it, with HTTPS Everywhere forcing secure connections to MyFitnessPal, most lists of food items don't load properly, with the following or similar appearing in the browser console:
XMLHttpRequest cannot load https://www.myfitnesspal.com/food/load_recent. Response for preflight is invalid (redirect)

Additionally, if a list is working, attempting to

[2017-07-12 10:46] Bisaloo commented on #11029
Thank you for your report.

Can you post an example URL where this happens? Also do we need an account for this?

[2017-07-12 12:39] cschanaj opened #11035 "Progress of Trivializing Snapping Rewrite"
#10872 I would like to partition the massive change into a number of PRs to make sure that Travis build successful. The progress will be slow because trivializing such rules require performing and checking HTTPS connections.

Example of snapping rewrite (I am not sure if this is the correct word)
[code]

Go script used to perform the trivialization: [`rewrite-simple-rules.go`](https://github.com/c

[2017-07-12 14:06] aladar42 opened #11037 "How to deal with SEC_ERROR_UNKNOWN_ISSUER?"
A lot of e-shops in my country have HTTPS enabled on their server, but they have certificates that are issued (and self-signed) by the developers of the web store software themselves, as opposed to any trusted certificate authority. Most of these sites are built by the kind of "build an eshop as a contractor" companies. Should these be added to HTTPS Everywhere rulesets (since a lot of these issue

[2017-07-12 15:09] jeremyn commented on #11037
The general rule is that HTTPS Everywhere shouldn't rewrite a URL if the result looks broken to the end user. `SEC_ERROR_UNKNOWN_ISSUER` results in an invalid certificate page, so we shouldn't rewrite URLs if they're going to generate these errors.

There are some exceptions, for example rulesets for domains signed by http://www.cacert.org are included but marked specially. Another potential examp

[2017-07-12 15:11] jeremyn commented on #11027
"Compatible with Firefox 57+" means the extension uses WebExtensions technology instead of XUL/XPCOM. We are tracking the conversion process to using WebExtensions in Firefox in issue https://github.com/EFForg/https-everywhere/issues/9958.

[2017-07-12 15:11] #11027 closed

[2017-07-12 15:17] jeremyn commented on #10968
Rewrites happen based on the specific URL, so I encourage you to search through https://www.eff.org/https-everywhere/atlas/ and GitHub to figure out why the URL you're concerned about isn't matching. If you have trouble figuring it out, please reply with the specific URL and the behavior you expect to see, otherwise please close this issue.

[2017-07-12 15:30] kpcyrd commented on #11027
Thanks!

[2017-07-12 15:34] jeremyn commented on #9958
@Hainish It's been mentioned a few times in different places but just to reiterate, it's critical for testing that we have a way to put custom ruleset files into a `HTTPSEverywhereUserRules/` directory or have equivalent functionality. Is that definitely prioritized for Firefox 57?

[2017-07-12 16:03] VioletRose commented on #11029
This is the main one, though the query string is irrelevant, it happens with all meals.
http://www.myfitnesspal.com/food/add_to_diary?meal=0
And yes, unfortunately the functionality that's broken is adding food items to the list of what you've eaten today, which is a list you won't have without an account.

[2017-07-12 16:29] Bisaloo commented on #11029
Okay, I completely disabled the ruleset anyways. The `https` support seems sporadic and buggy.

My main concern is that the broken functionality might be due to another ruleset interfering.

Could you please test if you can reproduce when you disable the `MyFitnessPal` ruleset? (you can do so by clicking on it in the dropdown menu)

[2017-07-12 16:40] numismatika commented on #11037
You should ask them to get a proper cert, Let's Encrypt makes it rather easy and the DV certs are for free,
There is no reason for public sites to use self-signed certs anymore

[2017-07-12 17:07] VioletRose commented on #11029
When I said "with HTTPS Everywhere forcing secure connections to MyFitnessPal", I meant to imply that this only happens with the MyFitnessPal ruleset enabled. Turning it off fixes the issue without HTTPS Everywhere needing to be disabled. Sorry for the confusion, I haven't spent enough time around this project to know how to refer to things clearly.

[2017-07-12 17:46] aladar42 commented on #11037
I usually try to tell them and even direct them to Let's Encrypt, but I have never gotten anything out of it. People don't seem to care - especially these shops, I've looked at their webhosting providers and they offer automatic deployment of certs from Symantec.

Anyway, that's all I needed to know, I'm gonna close the issue now, thnaks.

[2017-07-12 17:46] #11037 closed

[2017-07-12 17:54] Bisaloo commented on #11029
Great! #11033 should fix it then.

Hopefully, it will be included in the next release (https://github.com/EFForg/https-everywhere/issues/10888).

Please report back if you still have issues after that.

[2017-07-12 17:57] Hainish commented on #9958
@jeremyn the creation / deletion of custom rulesets is already built into the WebExtensions addon.  There is an open ticket for migration of custom rulesets: https://github.com/EFForg/https-everywhere/issues/10007

[2017-07-12 18:03] Hainish commented on #9958
@sabret00the no word yet.

[2017-07-12 19:38] Hainish opened #11040 "Create a flag in the build process to indicate that the update channel should be disabled"
This is a requirement for Tor Browser.  They are moving to a model where the version of HTTPS Everywhere is stapled with every Tor Browser release.  They build HTTPS Everywhere from source, relying on signed tags.

To facilitate this, we will have to change the build process in the `webextensions` branch to add a flag in [`make.sh`](https://github.com/EFForg/https-everywhere/blob/webextensions/mak

[2017-07-12 21:24] jeremyn commented on #9958
@Hainish I just installed https://www.eff.org/files/https-everywhere-test/https-everywhere-2017.6.9.1337-eff.xpi into a new Firefox profile but I don't see an `HTTPSEverywhereUserRules/` directory under the new profile directory. Has this functionality been built into a future version of the add-on that you haven't released yet?

[2017-07-12 23:45] #10962 closed

[2017-07-12 23:45] J0WI commented on #10962
closed by #10964

[2017-07-13 04:24] tkedwards opened #11042 "HTTPS Everywhere breaks setting user passwords in Emby media server"
Emby (emby.media) is an open source media server. It's managed via a web interface that runs on port 8096 (HTTP) or port 8920 (HTTPS). The problem is that with HTTPS Everywhere enabled the part of the interface where you (as an admin user) can set the passwords for other users is broken.

**To reproduce:**
- start Firefox and ensure HTTPS Everywhere is enabled
- install Emby and login to its web i

[2017-07-13 04:39] koops76 commented on #10950
I guess just use Chrome then. It's not a problem in HTTPS Everywhere. Firefox and Chrome versions use the same code base. Report this bug to Firefox bug tracker instead.

[2017-07-13 06:20] terrorist96 commented on #3069
Moved several sites from pending to either outstanding (cuz there's no active/open issue pending to address it) or to completed (either cuz a rule was merged successfully or the site redirects to https by default already)

[2017-07-13 09:08] jony0008 commented on #3069
Please add https://www.skandiamaklarna.se/

[2017-07-13 11:28] HTTPSNowhere opened #11046 "Columbia University ruleset is problematic"
As a user reported in the Tor Project trac,

The ruleset in question: https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Columbia_University.xml

[2017-07-13 11:29] HTTPSNowhere commented on #11029
Reported in the Tor Project trac ticket as well: https://trac.torproject.org/projects/tor/ticket/22887

[2017-07-13 11:38] HTTPSNowhere commented on #3798
@UsernameLoginIsAlreadyTaken

the browser? If the user is using Firefox, redirect to https. If not, redirect to .onion.

Some of Tor Project devs already  "discussed with the HTTPS everywhere
people over the years, but it's unclear whether the team has the
firepower and energy to handle such a task, or whether it's worth it at
all.

As an alternative here is a more general and abstract approach to

[2017-07-13 12:02] HTTPSNowhere opened #11047 "Detect if there are infinite redirection loops and show popup to user suggesting to disable the relevant ruleset"
In some instances, a bad ruleset may lead to an infinite loop of http->https->http->https->...

A good way to have the user fix this problem himself is to detect if there are infinite redirection loops and show popup to user suggesting to disable the relevant ruleset.

[code]

Not sure however if the detection part may be possible as a WebExtension.

[2017-07-13 12:11] HTTPSNowhere commented on #6196
@jeremyn Issue is not reproducible, can you please close this issue?

[2017-07-13 12:15] HTTPSNowhere commented on #5892
@jeremyn Tested it again and I didn't notice any issue, should this be closed then?

[2017-07-13 12:27] HTTPSNowhere commented on #5055
Already included:
fivethirtyeight.com https://github.com/EFForg/https-everywhere/blob/203375992d37e878d585e49d050fea283f51e390/src/chrome/content/rules/FiveThirtyEight.com.xml
dailymotion.com https://github.com/EFForg/https-everywhere/blob/203375992d37e878d585e49d050fea283f51e390/src/chrome/content/rules/Dailymotion.xml
socialblade.com https://github.com/EFForg/https-everywhere/blob/203375992d37e8

[2017-07-13 13:57] J0WI commented on #5055
The repository of this PR has been deleted.

[2017-07-13 14:48] ivysrono commented on #10882
@J0WI I'll have no time and PC next week. They are important for Chinese user. Please check them if it's possible. Thanks.

[2017-07-13 15:21] Hainish commented on #9958
@jeremyn I'm not certain whether WebExtensions has the ability to do filename enumeration within a path, so it'll be hard to implement the `HTTPSEverywhereUserRules/` path as we've done in `XPCOM`.  You can create & remove custom rules through the UI, and I'm working on a way to migrate the existing custom rules to the internal extension storage before the WebExtensions release is deployed.

If us

[2017-07-13 16:29] jeremyn commented on #9958
@Hainish It is important to have a way to test the behavior of an actual XML ruleset file. If you can sketch out the relevant limitations from WebExtensions, maybe I can suggest alternatives. For example cut-and-pasting-and-editing an XML file in a textarea included in the UI could work.

[2017-07-13 21:07] Hainish commented on #9958
@jeremyn you can throw the following into the developer console:

[code]

To help with getting a ruleset into the compact format you need to run that command, I've added a flag to [`merge-rulesets.py`](https://github.com/EFForg/https-everywhere/blob/master/utils/merge-rulesets.py): `--source_dir`.  With this, you can throw rulesets into a custom directory, and it will generate a `default.rulesets`

[2017-07-14 06:21] cschanaj commented on #10888
@Hainish can you run `hsts-prune` in the next release?

[2017-07-14 11:33] koops76 commented on #11047
I think the Chromium extension already does something similar, but without warning the user.

See https://github.com/EFForg/https-everywhere/blob/master/chromium/background.js#L556

[2017-07-14 17:25] Hainish commented on #10888
@cschanaj done, 6ef2a16c0e8fc67cc6d0f25807106c72ca7df9fe

[2017-07-14 23:26] cschanaj commented on #10888
@Hainish thanks!!

[2017-07-15 09:33] numismatika opened #11084 "Fetch-Test: group failed requests by error and sort by domain"
It would help a great deal if the travis fetch test would  group failed requests by the received error and sort that by subdomain&domain so we could convert the output to comments more easily.

[2017-07-15 18:43] ghost opened #11107 "Use Webpack"
[Webpack](https://webpack.js.org/) allows using ES6 modules to split code instead of using global variables. It transforms ES6 modules into code that can be ran in the environment that doesn't support ES6 modules yet (for example current Chrome version). It also can use CommonJS modules like [https-everywhere-rules](https://github.com/koops76/https-everywhere-rules) which is a ruleset parsing libr

[2017-07-15 19:45] ghost opened #11114 "List of all rulesets disabled for failing ruleset test (4301 rulesets, updated 09/19/2017)"
For everybody's convenience I created a list of all rulesets disabled for failing ruleset test, sorted by Alexa rank.

https://gist.github.com/koops76/770ae067734ae17394761b1f79988a25

Updated 09/19/2017, commit c5ee856.

[2017-07-16 09:46] cschanaj commented on #10877
@Hainish @J0WI I have implemented the logic which check each `target` is having a valid `tld` in the `rule-test` in cschanaj/https-everywhere/pull/7. Besides, I noted that the following type of rewrite will pass the `fetch-test` without any Travis complaint

[code]

Is this an intended behavior? Should we check each `target` for an existing DNS record? See cschanaj/https-everywhere/pull/6

[2017-07-16 11:53] HTTPSNowhere commented on #2429
https://bugzil.la/1247733 and https://bugzil.la/1244495 have been fixed, and this issue no longer appears with latest Firefox versions (esr, stable and nightly), @J0WI can you close this issue? Thanks.

[2017-07-16 11:55] HTTPSNowhere commented on #2337
This issue no longer appears, gmx.net rewrites to https://www.gmx.net
Looking at the [ruleset](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/GMX.xml) one can't find a rewrite rule for gmx.net->gmx.ch so it has been fixed.

@J0WI can you please close this issue? Thanks.

[2017-07-16 11:58] HTTPSNowhere commented on #3727
This seems to no longer be an issue with current versions of Firefox, @J0WI can you please close this issue? Thanks!

[2017-07-16 12:10] HTTPSNowhere commented on #11046
As a first step I'll disable it before someone tries to fix it: https://github.com/EFForg/https-everywhere/pull/11155

[2017-07-16 17:49] uGuardian opened #11179 "Search Bar Compatibility for Google Subdomains Broken"
When running HTTPS Everywhere, any attempts to search, for instance, google images by typing images.google.com and then pressing tab, results in a 404.

This appears to be an issue with how it redirects the request, as normally it will redirect to www.google.com
`https://www.google.com/search?site=&tbm=isch&source=hp&biw=929&bih=931&q=Beep+Boop&btnG=Search+by+image&oq=Nitronic+Rush&gs_l=img.3..0l4

[2017-07-17 18:40] mavit opened #11191 "Blocked loading mixed active content at https://query.nytimes.com/"
When http://query.nytimes.com/mem/archive-free/pdf?res=9B04E2DF1438EF32A25753C3A96F9C946497D6CF is redirected to `https://` by HTTPS Everywhere, an insecure `iframe` fails to load.

[2017-07-17 21:00] terrorist96 opened #11194 "NYDailyNews (partial) breaks images (fonts?)"
http://www.nydailynews.com/entertainment/music/mobb-deep-rapper-prodigy-dead-42-article-1.3262918

`NYDailyNews (partial)` breaks some images (fonts?).

![image](https://user-images.githubusercontent.com/12802056/28289654-70366ad4-6b11-11e7-93d5-a9199e51a635.png)

[2017-07-17 21:19] #3727 closed

[2017-07-17 21:20] #2337 closed

[2017-07-17 21:21] #2429 closed

[2017-07-17 22:16] strugee commented on #6322
Just as an FYI, I'm still actively working on this :)

Taking a while because of a bunch of mocks and stuff that need to be written for the tests. But after all that's done it should be really easy to develop and test without setting up GitHub and stuff.

[2017-07-17 22:48] koops76 commented on #11194
Can you post a developer tools log?

[2017-07-17 22:51] terrorist96 commented on #11194
Could you please give me a step-by-step on how to do that?

[2017-07-17 22:53] koops76 commented on #11194
F12 → Console → right click anywhere → Save as...

[2017-07-17 22:56] koops76 commented on #11194
Also WTF @ your nickname.

[2017-07-17 23:46] jeremyn commented on #10898
I'm closing this as a duplicate of issue https://github.com/EFForg/https-everywhere/issues/9404.

[2017-07-17 23:46] #10898 closed

[2017-07-17 23:49] terrorist96 commented on #11194
[www.nydailynews.com-1500335216954.zip](https://github.com/EFForg/https-everywhere/files/1154287/www.nydailynews.com-1500335216954.zip)

[2017-07-18 00:15] koops76 commented on #11194
Post it as text without archiving. If it's large post it on Gist.

[2017-07-18 00:18] terrorist96 commented on #11194
Don't trust me? :stuck_out_tongue_closed_eyes:
https://gist.github.com/terrorist96/c1c9710e3c3a5b855d7e0402e7bfbe15

[2017-07-18 02:46] cschanaj opened #11203 "Remove right-wildcard targets (if possible)"
**This issue might take a long long long time to complete since a rewrite is not always possible.**

Using a modified command from https://github.com/EFForg/https-everywhere/pull/11187#issuecomment-315766782
[code]

- [x] EBay.xml
- [x] Eventim.xml #10948
- [x] GoogleImages.xml (e8bb995071c473f4cb30596f42dcaf0a9b523d3a)
- [x] GoogleMaps.xml (30ac44802700ac9c964d53e447e99a75c181e60e)
- [x] GoogleSh

[2017-07-18 04:41] Bisaloo commented on #11203
From https://github.com/EFForg/https-everywhere/issues/1327#issuecomment-178265893:

[2017-07-18 05:16] asmosn commented on #7456
the same problem still exist  on   59.0.3071.115[stable]  and 61.0.3153.0 [dev].
and it is getting more serious ！

[2017-07-18 10:12] koops76 commented on #11194
Your log doesn't show any issue. I tried visiting this page with the ruleset both on and off. No difference. Try disabling all extensions except HTTPS Everywhere and see if images are still broken.

[2017-07-18 10:13] koops76 commented on #11194
I have uBlock Origin and Privacy Badger but neither block any images on this page.

[2017-07-18 11:02] koops76 commented on #11191
What does this iframe contain? If it's an ad, then it won't be fixed.

[2017-07-18 11:12] koops76 commented on #11203
@Bisaloo https://publicsuffix.org

[2017-07-18 15:56] cschanaj commented on #11203
I agree that using a script to expand the right wildcard is a probable approach, but popular sites like Google might own nearly all `suffix` for its domains. It might result in a (number of) huge ruleset with a overwhelming number of `target` leading to long term maintainance issue.

IMHO, I prefer to whitelist a ruleset from the `rule-test` if it does not cover only a handful number of the `suffi

[2017-07-18 16:16] Bisaloo commented on #11203
The idea of removing right-sided wildcards was supported by two of the project developers. We can always ask @Hainish if he shares their views or if the EFF opinion on this has changed.

Don't forget that right-sided wildcards are also a hassle to maintain because they don't work with our current automated tools to disable/remove rulesets (`https-everywhere-full-fetch-test` and `hsts-prune`) and p

[2017-07-18 17:16] numismatika commented on #11191
No it is a pdf with seemingly old articles. It is hosted on a cdn without a valid certificate, so we can't fix that ourselfes.

[2017-07-18 17:20] terrorist96 commented on #11194
I have those too. But here is a screenshot from a new profile with only HTTPS Everywhere:
![image](https://user-images.githubusercontent.com/12802056/28330441-97996f90-6bbb-11e7-9170-f9286792af34.png)

And here is an image on the same profile with HTTPS Everywhere active but the NYDailyNews rule deactivated:
![image](https://user-images.githubusercontent.com/12802056/28330495-ca94d97a-6bbb-11e7-97

[2017-07-18 17:21] numismatika commented on #11194
There is a lot of mixed content warnings scrolling by:

the important one probably nydailynews.com

[2017-07-18 17:42] koops76 commented on #11194
@terrorist96 Those are fonts, not images.

[2017-07-18 17:43] koops76 commented on #11194
[code]

[2017-07-18 17:53] koops76 commented on #11194
@terrorist96 #11229

[2017-07-18 18:55] Hainish commented on #6322
Thanks @strugee

[2017-07-18 19:53] Hainish commented on #7456
@asmosn please open a new issue.  Screenshots are appreciated as well as any additional info you can provide (platform, is it a new profile, your extension version, etc).

[2017-07-19 00:02] Hainish commented on #10888
Done: https://github.com/EFForg/https-everywhere/pull/11238

[2017-07-19 00:02] #10888 closed

[2017-07-19 00:02] Hainish opened #11240 "Release 2017.8.1X forthcoming"
cc @jsha @cooperq @pde @J0WI @fuglede @semenko @loveithateit @diracdeltas @jeremyn

Scheduled for 8/1

[2017-07-19 05:54] Bisaloo commented on #11240
It's not a big deal but I think you forgot to run `duplicate-whitelist-cleanup.sh` in #11238. I have been working on emptying this whitelist so it would probably be useful to run it in the next release.

[2017-07-19 16:01] cschanaj commented on #11035
Hooray!! Close this because of completion of the task.

[2017-07-19 16:01] #11035 closed

[2017-07-19 16:54] Hainish commented on #11240
@Bisaloo you're right.  I was distracted by the fact that I hadn't renamed `ruleset-coverage-whitelist-cleanup.sh` to `ruleset-whitelist-cleanup.sh` as I intended to do, and skipped the duplicate removal script.  I'll run it next release.

[2017-07-19 19:45] starchy opened #11247 "Bring atlas up to date"
Opening issue here per @jsha.

[2017-07-19 23:40] cschanaj commented on #10877
@Hainish can you have a look on https://github.com/EFForg/https-everywhere/issues/10877#issuecomment-315598041 and #11187 ?

[2017-07-20 00:25] Hainish commented on #11203
An ideal solution would be to include the Public Suffix List in the extension itself, and right-wildcard redirects would only be performed if it matches `target minus right-wildcard` + `public suffix`.  This way we wouldn't have to validate right-wildcards against the list, we'd be assured that they behave as expected.  As it stands, the PSL compressed registers at 65k, which is too large of an ov

[2017-07-20 00:25] Hainish commented on #10877
Not quite sure how [`AM-Best-Company.xml#L11`](https://github.com/EFForg/https-everywhere/blob/b7650c06f79e61eefdc34f3b7e6a686d990b8e2b/src/chrome/content/rules/AM-Best-Company.xml#L11) got re-enabled.  Checking targets against the Public Suffix List seems reasonable.

[2017-07-20 00:42] #10819 closed

[2017-07-20 01:39] cschanaj commented on #10877
@Hainish  For any `target` if HTTPS connection works, the fetch test will ignore any result for the HTTP connection, see [`check_rules.py#L131`](https://github.com/EFForg/https-everywhere/blob/master/test/rules/src/https_everywhere_checker/check_rules.py#L131). In particular, it will ignore the `could not resolve host` error. As a result, any rewrite in the form of https://github.com/EFForg/https-

[2017-07-20 03:25] a80b8829 commented on #10539
Still BROKEN on ALL VERSIONS OF SlimJet Windows 32 & 64 BIT.
What is taking so long to fix???????

[2017-07-20 10:41] HTTPSNowhere commented on #6196
@J0WI Issue is not reproducible, can you please close this issue?

[2017-07-20 13:26] #6196 closed

[2017-07-21 06:09] cschanaj commented on #10877
All ruleset in the code base will pass the proposed `rule-test` once #11263 is merged, it will be also safe to merge #11187 (hopefully before next release).

[2017-07-21 13:59] cschanaj commented on #11114
@koops76 I have compiled another list separately in [`default-off-alexa-list.csv`](https://gist.github.com/cschanaj/8c76c5a217e8d2a775e71566fdb40355). It includes all `default_off` ruleset with a valid alexa ranking, it also fix some domain detection problem in your list. Hopes this will help.

[2017-07-21 14:04] koops76 commented on #11114
@cschanaj Your list only includes top 1m Alexa. Also I think it misses some of the disabled rulesets.

[2017-07-21 14:08] cschanaj commented on #11114
Yes, my intention is only to complement your list on the items with domain detection problem, e.g. [`Rakuten.co.jp.xml`](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Rakuten.co.jp.xml). Thank you for clarifying this!!

[2017-07-21 14:24] jeremyn commented on #11107
I support switching the current extension build process from the current homegrown bash/Python stuff to npm+webpack+etc. This might be useful: https://github.com/mdn/webextensions-examples/tree/master/webpack-modules.

You need something like [Babel](https://babeljs.io) for this, see https://webpack.js.org/guides/getting-started/#es2015-modules.

[2017-07-21 14:35] koops76 commented on #11107
@jeremyn Nope, I tried using ES6 modules directly and it compiled into valid module-less code. Webpack is essentially a ES6 modules polyfill in addition to a bundler.

[2017-07-21 14:41] jeremyn commented on #11107
The link I gave to https://webpack.js.org/guides/getting-started/#es2015-modules says that Webpack transpiles `import`/`export` statements but nothing else. So if you're importing a module that only contains ES5 stuff, you're fine, but if you're importing a module that contains ES6 stuff then you need something like Babel.

In other words, by itself Webpack can handle the ES6 module concept, but n

[2017-07-21 15:29] koops76 commented on #11107
@jeremyn ES6 is not transpiled except of modules, as expected.

[2017-07-21 17:20] aladar42 opened #11268 "wizards.com ruleset is not applying correctly"
The existing ruleset for wizards.com only seems to be applied to "wizards.com" and "www.wizards.com", however, "wizards.com" leads to http://company.wizards.com/ and HTTPS Everywhere not triggering the SSL switch. Same for all of the other sites on their server like http://magic.wizards.com/ or http://dnd.wizards.com/.

Is there a chance for a wildcard ruleset change for wizards.com? The current o

[2017-07-21 20:26] wesdawg opened #11269 "DomainTools ruleset is disabled"
Looks like https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/DomainTools.xml was disabled in 9bf49cb

The site is working now so this rule shouldn't be disabled.

[2017-07-21 22:21] Hainish commented on #11040
Finished.  Now you can run `./make.sh` with the `--remove-update-channel` flag, removing the XPI extensions' ability to update.  This flag only works as the last argument.

[2017-07-21 22:23] #11040 closed

[2017-07-22 01:58] Hainish commented on #9958
I've released testing version `2017.7.21.1338` - get it at https://www.eff.org/files/https-everywhere-test/index.html. You won't be auto-updated to the latest version, unfortunately.

[2017-07-22 02:01] Hainish commented on #10814
@gloomy-ghost wow, I just looked into the translations issue, and it looks like translations weren't being pulled into the Chrome extension at all in general!  This was fixed in https://github.com/EFForg/https-everywhere/commit/a7fcdf3b20e1e9554dd76dbd6d66458b7ab5af0a and is incorporated into the newest test release, `2017.7.21.1338`: https://www.eff.org/files/https-everywhere-test/index.html

[2017-07-22 02:03] Hainish commented on #10814
Ref: https://github.com/EFForg/https-everywhere/issues/9958#issuecomment-317146470

[2017-07-22 04:53] Bisaloo commented on #10950
Thank you for your report. Do you have a test url for this? I can't reproduce with Firefox on https://stockcharts.com/

[2017-07-22 12:14] J0WI commented on #11191
closed by #11262

[2017-07-22 12:14] #11191 closed

[2017-07-22 15:32] #5892 closed

[2017-07-22 15:58] jeremyn commented on #9958
@Hainish I'm sorry I haven't gotten back to you since your comment in https://github.com/EFForg/https-everywhere/issues/9958#issuecomment-315202693. I was able to get a new test rule to work although the process is significantly rougher than before.

I'm noticing problems with rule changes made with the debug console not taking effect after I've visited a site. For example if I visit a site, add a

[2017-07-22 16:01] J0WI commented on #9958
What is the future of the Fennec (Firefox for Android) version?

[2017-07-22 22:30] Bisaloo commented on #10010
I can confirm this is fixed in 2017.7.21.1338.

[2017-07-23 03:08] cschanaj commented on #6424
@Hainish `rakuten.co.jp` from #11265 did not got the `top-1k` label. I suspect this is a bug caused by the lack of `^` and `www` in the respective ruleset. Can you confirm this? Related [`index.js#L104`](https://github.com/EFForg/https-everywhere/blob/master/utils/labeller/index.js#L104).

[2017-07-23 03:22] LanceHaverkamp commented on #10950
Hmmm, interesting.   Because Firefox is fine with that site without https everywhere, and the site told me others have reported it to them as well.

[2017-07-23 09:15] Aonavan commented on #3069
https://arch.b4k.co/

[2017-07-23 23:39] koops76 commented on #11269
Closed by #11275.

[2017-07-24 00:32] #11269 closed

[2017-07-24 04:12] koops76 opened #11311 "Tumblr user subdomains no longer redirect to HTTP."
For example:
https://discoverynews.tumblr.com/
https://americasgreatoutdoors.tumblr.com/
https://staff.tumblr.com/

[2017-07-24 04:43] mgik20 opened #11312 "Myfitnesspal.com issue"
I am not certain the exact cause, but using HTTPS Everywhere with myfitnesspal.com causes an error on the site.

Some details are here on a ticket opened by someone else with myfitnesspal.com

http://myfitnesspal.desk.com/customer/portal/questions/17101256-site-down-for-maintenance

[2017-07-24 04:59] cschanaj commented on #11311
According to [`this`](https://twitter.com/JoshHixson/status/803673098453155840), it seems that only the newly created Tumblr blog will redirect to HTTPS by default. I am not really sure what can be done on our side.

See also [`Tumblr.xml#L17`](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Tumblr.xml#L17)

[2017-07-24 12:06] Bisaloo commented on #11312
fixed in https://github.com/EFForg/https-everywhere/pull/11033.

[2017-07-24 12:08] Bisaloo commented on #11240
Can we merge https://github.com/EFForg/https-everywhere/pull/11033 before the next release please?

It's the third bug report about it in a couple of weeks and several users have also silently reacted (github feature) on the main issue (https://github.com/EFForg/https-everywhere/issues/11029).

[2017-07-24 19:08] Hainish commented on #11240
@Bisaloo I've added the `Before Next Release` milestone to the ticket.

[2017-07-24 21:23] J0WI commented on #11312
Dupe of #11312

[2017-07-24 21:23] #11312 closed

[2017-07-24 22:25] cschanaj commented on #10843
Please also note the following rulesets found by the following command in https://github.com/EFForg/https-everywhere/pull/11024#pullrequestreview-49353302.
[code]

[code]

See also #10804. Thanks!!

[2017-07-25 18:18] Hainish commented on #9958
@jeremyn I'm looking into the problem you've reported now.

@J0WI the Fennec version is lagging behind in WebExtensions support.  Last I checked, it did not support various UX elements that are built into the current Fennec XPCOM version.  It does still perform redirects, though.  So for some time the WebExtensions version will suffer reduced user control, until we're able to rebuild the UX.

[2017-07-25 18:41] Hainish commented on #9958
@jeremyn this is due to the targets being cached.  You can clear this by adding one additional line:

[code]

[2017-07-25 23:50] #9803 closed

[2017-07-26 00:46] jeremyn commented on #9958
@Hainish I can confirm that the `new Map()` line lets me change a custom ruleset for a page I've already visited, thanks.

[2017-07-26 00:49] jeremyn commented on #9958
I wish we had some way of checking with users generally but speaking just for myself, I almost never interact with the HTTPS Everywhere UI in Firefox for Android. So as long as the core functionality is there, that's fine with me for now.

[2017-07-26 02:23] jony0008 commented on #3069
https://www.blocket.se/
https://www.tori.fi/

[2017-07-26 14:35] Aonavan commented on #3069
https://pururin.us/

[2017-07-26 18:33] ghost opened #11385 "List of all CACert rulesets (17 rulesets, updated 09/04/2017)"
Similar to #11114, I created a list of all CACert rulesets, sorted by Alexa rank.

https://gist.github.com/koops76/99f0049a8026999f3ddad245275375a1

Updated 09/04/2017, commit 5a67f79.

[2017-07-26 18:33] koops76 commented on #11385
#9582

[2017-07-26 18:34] koops76 commented on #9582
#11385

[2017-07-26 18:35] koops76 commented on #9582
List of all CACert rulesets: #11385

[2017-07-26 18:57] #11029 closed

[2017-07-27 06:53] terrorist96 commented on #3069
Already has a rule, and redirects

Already redirects

[2017-07-27 08:24] Aonavan commented on #3069
https://lolifox.org/
https://02ch.su/
https://hamstakilla.com
https://alphachan.org/
https://314n.org/
https://neboard.me/
https://tumba.ch/
https://depreschan.ovh/
https://0chan.ru.net/
https://0chan.one/
https://art.4otaku.org/
https://370chan.lt/
https://vichan.net/
https://heretyk.org/
https://ptchan.net/
https://srbijachan.org/
https://www.acrimonie.com/
https://www.2chan.net/

[2017-07-27 14:06] Bisaloo opened #11440 "Include rulesets with different platforms in duplicate checks"
I think we should review the way tests are currently working to check duplicates.

At the moment, tests will pass even if a target is duplicated in more than one ruleset as long as it is not in more than one ruleset *without platform*. For example, the domain in this PR (https://github.com/EFForg/https-everywhere/pull/11438) was not in `duplicate-whitelist.txt`.

But this can cause problems. In th

[2017-07-27 14:19] Bisaloo commented on #11440
To answer @J0WI's comment in https://github.com/EFForg/https-everywhere/pull/11438#issuecomment-318362537:

As far as I can tell, not many. I don't know how the current `duplicate-whitelist.txt` was generated but it already includes some of the cases I am describing (1 ruleset without `platform` + 1 ruleset with `platform="mixedcontent"` such as https://github.com/EFForg/https-everywhere/pull/1091

[2017-07-27 14:54] cschanaj commented on #11440
@Bisaloo there is 224 duplicated `target` in the code base, found using [`find-duplicate-targets.go`](https://github.com/cschanaj/lambda/blob/master/src/find-duplicate-targets.go).

See also [`duplicate-whitelist-cschanaj.txt `](https://gist.github.com/cschanaj/6ff706b1d3ec23c11b70eb13221c7210)

[2017-07-27 15:11] Bisaloo commented on #11440
Thanks @cschanaj! If we want to create the new whitelist using your script, it may be useful to group targets by domain.

[2017-07-27 15:15] cschanaj commented on #11440
@Bisaloo updated the file accordingly, please check. thanks!

[2017-07-27 15:26] Bisaloo commented on #11440
Yes, and this is intended behaviour too. I am arguing for a change of policy concerning the whitelist. This is not a bug (if we forget the fact that some targets are in `duplicate-whitelist.txt` when they shouldn't because their rulesets have different platform).

[2017-07-27 15:42] cschanaj commented on #11440
I agree with the proposed changes of policy since the `platform` are mutually exclusive to each other (since we have get ride of all `platform="cacert mixedcontent"` recently). IMHO, there is little reason to allow duplicated `target` in different `platform`.

[2017-07-28 05:35] cschanaj commented on #10843
Also note that the following ruleset
[code]
found by
[code]

[2017-07-29 00:08] J0WI commented on #11240
@Hainish please merge #11070 if it looks good to you.

[2017-07-29 05:39] cschanaj commented on #11440
See #11484

[2017-07-29 13:14] #11268 closed

[2017-07-29 15:34] axch opened #11511 "Feature request: UI to temporarily allow insecure requests when otherwise blocking them"
The use case I have in mind is a user defaulting to "block insecure requests", but being able to permit some in particular cases, somewhat by analogy with the behavior of NoScript.  I can imagine variants allowing insecure requests for a particular time, in a particular browser tab, or directed to a particular host.

[2017-07-29 15:36] axch opened #11512 "Feature request: More informative refusal to follow insecure link in Firefox"
I tried browsing with "block insecure requests" on, and observed that when I clicked on links that HTTPS Everywhere could not translate to https, the browser just ignored my click and didn't do anything.  I think it would be more helpful to perform some UI action, like popping up a tooltip, that acknowledged the click, so that the user know that they did not mis-click, but that the action was bloc

[2017-07-29 15:42] Bisaloo commented on #11512
Related: https://github.com/EFForg/https-everywhere/issues/8239

[2017-07-29 15:47] jeremyn commented on #11512
@axch Can you please give an example of a page with a link that behaves this way? I can't think of any case where HTTPS Everywhere should cause a browser to entirely ignore a click.

[2017-07-29 15:50] jeremyn commented on #11511
@axch Thanks for your suggestion, however I'm closing this as a duplicate of issue https://github.com/EFForg/https-everywhere/issues/2299. Please feel free to comment on that issue if you want.

[2017-07-29 15:50] #11511 closed

[2017-07-29 15:54] jeremyn commented on #4795
@ttqghzar I'm closing this as a duplicate of issue https://github.com/EFForg/https-everywhere/issues/2299. Please feel free to comment on that issue if you want.

[2017-07-29 15:54] #4795 closed

[2017-07-29 16:01] jeremyn commented on #11311
@koops76 What specific changes to HTTPS Everywhere are you asking for?

[2017-07-29 16:07] jeremyn commented on #9958
@Hainish Another functionality that the WebExtensions version misses is this: if I paste a URL into the address bar, but don't press enter/visit the URL, the add-on UI will show what ruleset matches that URL and whether that ruleset is enabled. One use case is when I'm reviewing an updated version of an existing ruleset, I might copy the new version of the ruleset into the `HTTPSEverywhereUserRule

[2017-07-29 16:10] Bisaloo commented on #9971
I still can't get it to work with Version: 2017.7.21.1338.

Can anyone try to reproduce or reopen this issue if needed?

[2017-07-29 16:10] axch commented on #11512
@jeremyn Looking for it, I am not finding a situation exactly as described, but here's an instance of something that could be smoothed out, at least for new users like me: I just searched Google for "noaa" and tried to navigate to the first hit, which is the web site of the National Oceanic and Atmospheric Administration.  The user experience was a long lag, followed by Firefox saying "The server

[2017-07-29 16:14] axch commented on #2299
Additional potentially useful UI elements:
- "Let this one tab make as many insecure requests as it wants"
- "Allow insecure requests (from this tab?) for the next 3 minutes"
- "Retry the last rewritten request without rewriting it"

and maybe some of these things in combination with each other.

[2017-07-29 16:54] jeremyn commented on #11194
This is fixed by PR #11514 and works by not rewriting `assets.nydailynews.com` to `www.nydailynews.com`. The font file(s) from `http://assets` have sufficient CORS permissions (the `Access-Control-Allow-Origin` header) but the font file(s) from `https://www` don't.

[2017-07-29 17:12] jeremyn commented on #11512
@axch Okay, I understand what you're seeing now. The issue that @Bisaloo linked above, https://github.com/EFForg/https-everywhere/issues/8239, is very relevant for this and I'm going to close this issue as a duplicate. I encourage you to read the discussion there.

A key thing to understand is that the major value of HTTPS Everywhere is that there are over 20,000 ruleset files, many/most of which

[2017-07-29 17:13] #11512 closed

[2017-07-29 21:04] #11018 closed

[2017-07-30 02:31] koops76 commented on #11311
@jeremyn Redirecting them to HTTPS I guess.

[2017-07-30 04:24] cschanaj commented on #10227
#11527

[2017-07-30 12:32] jony0008 commented on #3069
https://www.sprakochfolkminnen.se/

[2017-07-30 14:29] #9876 closed

[2017-07-30 22:41] #11194 closed

[2017-08-01 06:00] Hainish commented on #10007
I had assumed this was a simple task, given the number of extensions required to migrate settings.  Unfortunately, in order for this to be possible, we would first have to convert the extension into a restartless XPCOM extension.  This process is in itself [not simple](https://developer.mozilla.org/en-US/Add-ons/How_to_convert_an_overlay_extension_to_restartless), and the main benefit from a resta

[2017-08-01 06:07] Hainish commented on #11240
Given https://github.com/EFForg/https-everywhere/issues/10007#issuecomment-319276188, I'm moving this release back.  New release date is likely early next week.

[2017-08-01 06:21] Bisaloo commented on #10007
I like what you are proposing. It sounds relatively simple and should result in an easy transition for most users. I also think users will understand that the transition to WebExtensions is necessarily a bit bumpy.

Just a small point to remember:

Because of https://github.com/EFForg/https-everywhere/issues/1394, this should write "those that have never modified any settings", even disabling and

[2017-08-01 09:08] Bisaloo commented on #10843
https://github.com/EFForg/https-everywhere/pull/10087 updated `basekit.com` but the https->https rewrite can't be removed without breaking stuff.

[2017-08-01 13:26] J0WI commented on #10007
I agree that it's not worth to make XPCOM restartless before we have to WebExtension anyway.
But is this the only option to do so? Can you share your research on how you would implement this?

[2017-08-01 14:22] craige1 opened #11608 "Please create Edge extension."
As title.

[2017-08-01 14:24] #11608 closed

[2017-08-01 14:25] craige1 commented on #11608
Sorry, i missed the already existing issue.

[2017-08-01 14:29] craige1 commented on #5101
With the converter and the steps gloriousjob did, it seems extremely easy to make this. Can i push for this to be put into the store officially?

[2017-08-01 22:07] Hainish commented on #10007
@J0WI in WebExtensions, the data stored is scoped to the extension sandbox.  It cannot access global browser storage.

XPCOM cannot save data to extension sandboxes (except by using [Embedded WebExtensions](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Embedded_WebExtensions), which requires a restartless XPCOM extension first).

So there's no way to migrate data from an overlay XPCOM

[2017-08-01 22:20] jeremyn commented on #10007
I agree that exporting/importing all settings to/from a file is the way to go, like Privacy Badger supports.

How will the transition appear to the user? We shouldn't force the user to do anything immediately. Imagine a use case of a traveling journalist without trusted technical people around them suddenly presented with a prompt.

[2017-08-01 22:30] jeremyn commented on #5101
@Hainish has authority here and I don't want to step on his toes, but, just to set expectations, right now I believe the big technical focus is on converting the XUL/XPCOM version of the Firefox extension to use WebExtensions in time for the Firefox 57 release where XUL/XPCOM extensions won't work anymore. See [here](https://github.com/EFForg/https-everywhere/labels/webextensions-firefox) for rela

[2017-08-01 22:32] Hainish commented on #10007
@jeremyn on the next release, we'll warn users who have changed their settings from the default that they may lose settings unless they export them.  This will be exposed in a new tab.  We'll give them the option to export settings directly within this tab.

[2017-08-01 22:35] jeremyn commented on #10007
Can we continue to prompt them every browser start until they click "export settings" at least once?

[2017-08-01 22:38] Hainish commented on #10007
I'm concerned with annoying people too much.  I was planning on showing it only once, but adding a menu option to export settings.  In fact, since XPCOM is so permissive, we may be able to just export the `json` file automatically once and just notify users where that `json` file is located when they upgrade.

[2017-08-01 22:40] Hainish commented on #10007
I don't want to spend too much time getting into implementation details since I'm still coding this out.  I think some of these details will become apparent as the implementation is fleshed out.

[2017-08-01 22:40] gopherit commented on #10007
1. Would it be possible to automatically export to json (transparent to the user) instead of the possibility of a nagging dialog box?
2. How will the custom rules/custom directory functionality work in WebExtensions for those who wish to create/test custom rules for internal purposes?

[2017-08-01 22:41] Hainish commented on #10007
@gopherit

1. Answered above
2. Answered [here](https://github.com/EFForg/https-everywhere/issues/9958#issuecomment-315202693)

[2017-08-01 22:50] jeremyn commented on #10007
Stuff is changing, users are going to be annoyed no matter what. They will definitely be annoyed if they lose a lot of settings because they clicked through a single nag prompt weeks earlier. Users are notorious for ignoring upgrade prompts.

I disagree with auto-creating a data file. It contains sensitive data that the user might not want randomly thrown on their filesystem. The nag prompt can co

[2017-08-01 22:51] Hainish commented on #5101
Thanks @jeremyn.  In addition, our legal department needs to look at whether we are able to comply with the MS developer license agreement.

[2017-08-01 22:58] Hainish commented on #10007
@jeremyn sensitive information is already stored in the file system under the users' profile directory.  I see no problem with auto-exporting a `json` file with this same information serialized in an easily importable format under the same directory.

[2017-08-01 23:00] Hainish commented on #10007
I'd rather not spend hours arguing about implementation details without even knowing what's possible instead of actually implementing it.

[2017-08-01 23:26] jeremyn commented on #10007
I'm not knowledgeable enough about Firefox local storage to know whether it is more or less accessible from the OS than a log file in the profile directory. If you say the log file is strictly no worse, then okay.

One concern is that a user who wants to sanitize their system might think to uninstall HTTPS Everywhere but might not think to delete `sensitive_settings.json` from `~/.mozilla` or `%AP

[2017-08-02 01:39] WilliamFeely commented on #5101
@Hainish
Could the issue with the developer agreement be resolved by making the HTTPS lists an external download, so as there are no hard-coded references to domains whose content may violate the Agreement or may even contain legal violations?

[2017-08-02 06:51] craige1 commented on #5101
Thanks for getting back to me.
Its actually great news that this is being looked into. I understand that the dev work priority will lie with the current plugins, I just wanted to check in to see that an edge plugin wasn't being ignored, or forgotten. Here's to hoping the legal issues aren't an issue (how are the play store and apple store dealt with?).

[2017-08-02 08:02] martinsuchan commented on #5101
Once there is working beta of the extension I'd suggest creating Windows Store account and submitting the extension for test using this form:
https://developer.microsoft.com/en-us/microsoft-edge/extensions/requests/
Microsoft will then contact you with details and necessary info to get the extension into Store.

And since there is [Windows 10 Fall Creators Update](https://www.windowscentral.com/fa

[2017-08-02 12:00] J0WI commented on #10007
@Hainish did you already consider using the browser vendors sync services, like Firefox Accounts? I think that would be the best experience for plain Jane and average Joe.
See also #1022

I agree with you that it's not a big deal having the export in the profiles dir. Wecould also add a 'deleteme' sting to the filename, that advanced users can clean it up manually. But I think it's worth to solve

[2017-08-02 17:56] Hainish commented on #1394
@J0WI many of these options will linger in the profile once the extension is updated to WebExtensions.  At that point, though, they can be safely deleted.  The export functionality in #10007 will not include ruleset toggles that are the default.

[2017-08-02 18:22] J0WI commented on #10007
JFYI: https://blog.mozilla.org/addons/2017/08/01/noscripts-migration-to-webextensions-apis/

[2017-08-02 19:10] koops76 commented on #11107
I guess I'll have to wait until #10909 is merged before starting to split the code into modules.

[2017-08-02 19:13] Hainish commented on #10007
Oh neat, thanks for the heads up @J0WI

[2017-08-03 04:51] Hainish commented on #10007
Here's my `Export Settings` PR: https://github.com/EFForg/https-everywhere/pull/11639.  @J0WI, @jeremyn, please take a look at your soonest convenience, it would be great to merge this tomorrow.

[2017-08-03 05:15] scheinercc opened #11640 "brackets.io - Download button does not work with HTTPS Everywhere enabled"
On http://brackets.io the CTA is broken (href value is "#") when HTTPS Everywhere is enabled.

See the comment on my original report which lead me to test the add-on:/
https://github.com/webcompat/web-bugs/issues/8632#issuecomment-319865463

I have now also tested it in current stable FF 54.0.1 with a pretty clean profile and only HTTPS Everywhere installed. Same issue.

Please let me know if more

[2017-08-03 09:18] iki commented on #10842
#8506 seems to handle this universally, even for resources loaded by js/css

[2017-08-03 09:36] iki commented on #8506
+1 for adding this, it's badly needed, Many sites like jsfiddle are broken with HTTPS Everywhere, esp. when embedded and the user can't rewrite the resources used easily.

At the same time, we can't break anything by adding it. It's true that in some cases, the resources can't be loaded by https, so there's no safe solution and the only workaround is to let the user swith to insecure http version

[2017-08-03 11:26] iki commented on #10842
oops, [upgrade-insecure-requests CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/upgrade-insecure-requests) applies only to site resources, not 3rd part ones, so we need fixing resources in DOM too

[2017-08-03 15:59] strugee commented on #8506
@iki if you find that sites are broken, that's a bug in the ruleset. You should report those.

[2017-08-03 16:01] jeremyn commented on #8506
@iki `upgrade-insecure-requests` is not safe generally for the reasons @Hainish describes in https://github.com/EFForg/https-everywhere/issues/8506#issuecomment-281478362 and following.

As an example, suppose a request to `https://a.example.com` loads an image (or other passive content) from `http://b.example.com`. Also suppose that `b.example.com` doesn't support HTTPS. If we insert `upgrade-ins

[2017-08-03 16:09] jeremyn commented on #8506
@strugee An active mixed content request is blocked by the browser before HTTPS Everywhere can rewrite the URL (see [the FAQ](https://www.eff.org/https-everywhere/rulesets#mixed-content-blocking-mcb)). `upgrade-insecure-requests` is the way around that problem because it makes the browser rewrite the URL it blocks the request.

[2017-08-03 16:25] strugee commented on #8506
@jeremyn if things are breaking because of MCB the ruleset should have `platform=mixedcontent` (I've forgotten the exact string but I think you know what I mean).

[2017-08-03 16:33] jeremyn commented on #8506
@strugee I don't know what's happening with JSFiddle, hopefully @iki can describe what they are seeing in more detail. I agree that adding `platform` is one way to go, although that means it is only active by default on Tor so it's effectively the same as disabling the ruleset by default. We generally let minor active mixed content problems go without marking the ruleset with `platform`. See issue

[2017-08-03 17:24] strugee commented on #8506
@jeremyn right, that's why I wanted @iki to report a bug instead of just working around it with upgrade-insecure-requests or whatever ;)

[2017-08-03 21:29] koops76 commented on #11640
Likely a mixed content issue.

[2017-08-04 00:50] Hainish commented on #9958
@jeremyn I've never encountered this functionality, and we're unlikely to add it - I haven't seen that anywhere in the code.

[2017-08-04 01:30] koops76 opened #11677 "Suggestion: move translations into this repo"
It would make it less error-prone than using an external submodule and would make it easier to work on the translations. Also it will make HTTPS Everywhere less dependent on Tor Project.

[2017-08-04 01:30] koops76 commented on #11677
ping @Hainish

[2017-08-04 05:32] galenide opened #11680 "Reference to Kaspersky antivirus in the SSL Observatory setting "Submit and check certificates signed by non-standard root CAs""
In the SSL Observatory Preferences window, when the advanced options are shown, there is a checkbox setting to "Submit and check certificates signed by non-standard root CAs". The explanation text for this setting refers to the situation where a user's HTTPS connections go through a proxy ("an intrusive corporate network or Kaspersky antivirus software") that does inspection of HTTPS traffic by ha

[2017-08-04 14:17] koops76 commented on #11680
SSL Observatory is going away with WebExtensions transition. At least until WebExtensions will support certificate inspection.

[2017-08-04 18:52] J0WI opened #11694 "obsolete addon-sdk submodule"
Not sure if it's worth since we move to webextensions anyway, but the addon-sdk submodule liks to an obsolete repo: https://github.com/mozilla/addon-sdk
We should make sure that we use the up to date version that is included in Firefox builds.

ping @Hainish

[2017-08-04 21:41] Hainish commented on #11694
This is going away with the move to `webextensions` anyway.  Thanks for flagging this.

[2017-08-04 21:41] #11694 closed

[2017-08-05 08:08] bardiharborow commented on #11179
This should have been fixed by #11068.

[2017-08-05 08:58] bardiharborow commented on #9111
@Hainish I've being watching this repo for a little while now, and I guess I'm an aspiring ruleset maintainer so I thought I'd weigh in with some random thoughts:

1. I've found the documentation mostly manageable, but there are a few shortcomings (e.g. discussion around how to correctly construct and test `securecookie` rules).
2. I've been wondering why there doesn't seem to be a `/utils` progra

[2017-08-05 09:32] Bisaloo commented on #9111
https://github.com/EFForg/https-everywhere/issues/7691, nothing official though.

[2017-08-05 15:24] jeremyn commented on #9958
@Hainish To be clear, it's not a tricky or obscure thing. To reproduce: paste `freerangekitten.com` into the address bar and then observe that `Freerangekitten.com` shows up as a rule in the add-on UI.

Maybe this happened "naturally", without explicit coding effort, due to how Firefox processes the matching logic for the legacy add-on.

Anyway it's pretty useful and I'm sorry it won't be carried

[2017-08-05 16:27] jeremyn commented on #9111
@bardiharborow I'm a ruleset maintainer and I appreciate your interest.

To give some background, as far as I can tell there are about five or less active participants in the project with commit access, including one paid EFF staff programmer/researcher ( @Hainish ), and unpaid volunteers who do ruleset maintenance. @Hainish has other EFF responsibilities outside of this project, and the volunteer

[2017-08-05 20:27] HTTPSNowhere opened #11710 "Make ruleset for CNET.com"

[2017-08-06 10:24] koops76 commented on #11677
@j0WI @cschanaj Can you explain a reason for thumbs down?

[2017-08-06 11:06] cschanaj commented on #11677
@koops76 I don't agree this is a good idea because we have a fairly small number of reviewers here. Our reviewers might have difficulties to approve translations of languages they do not comprehend of themselves, translation PRs are blocked as a result.

Besides, what do you mean by being _less error-prone_? If you are talking about the translation accuracy/ quality, I see little difference caused

[2017-08-06 11:11] koops76 commented on #11677
@cschanaj Submodule sometimes causes errors when it is updated when it's not supposed to.

[2017-08-06 15:42] J0WI commented on #9958
btw. Mozilla released Firefox Nightly 57 this week. I can confirm that HTTPS Everywhere stopped working there.

[2017-08-07 00:38] J0WI commented on #7691
_invite @Hainish to join this discussion_

[2017-08-07 08:38] cschanaj commented on #7691
FYI, I have a C program to generate rulesets which pass Travis build in most of the time. Source code available at https://github.com/cschanaj/xhttpse2

Please let me know if there is anything I can help with this issue. Thanks.

[2017-08-07 12:11] zero77 opened #11728 "[Feature Request] In built rule creator"
Rule creating is easy but, for less technical users who want to help by creating and submitting rules to https-everywhere.

Can you please add a simple wizard that creates a rule that can be copied and submitted to GitHub.

Thanks

[2017-08-07 13:31] koops76 commented on #11728
Duplicate of #7691.

[2017-08-07 14:53] jeremyn commented on #11728
@koops76 is right that #7691 covers the need for a robust solution and so I'm going to close this issue. However there is also a small script that will generate a minimal ruleset, which is documented [here in `CONTRIBUTING.md`](https://github.com/EFForg/https-everywhere/blob/a50b6f21347039b92a12dcebc3d4465fad7167a5/CONTRIBUTING.md#new-rulesets), which may be useful.

[2017-08-07 14:53] #11728 closed

[2017-08-08 14:28] J0WI commented on #9958
btw: I played a bit around with GitHubs new project board:
https://github.com/EFForg/https-everywhere/projects/1

[2017-08-08 17:36] koops76 commented on #9958
@J0WI Can you upload developer tools log to Gist?

[2017-08-08 18:17] numismatika opened #11759 "Addon won't show any rules with current Nightly"
The HTTPS Everywhere Icon stays light blue although there have to be rules for the page i am on.
Clicking it, shows no matching rules , not even disabled ones.

The Browser Console gives

[2017-08-08 18:20] Hainish commented on #9958
@J0WI this is excellent, I had no idea this existed!  This probably isn't strictly a replacement for Trello, if we decide to have that as well, since each "project" would be a single card on the Trello board.

[2017-08-08 19:11] koops76 commented on #11759
@numismatika Can you tell the line numbers these errors happen on?

[2017-08-08 19:45] galenide commented on #11710
Right now, there is a [ruleset for CBS](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/CBS.xml) that includes some coverage of CNET.com. As of this writing, the CBS ruleset is disabled because two of the included targets failed a comprehensive fetch test (see #10538) that was done in June. It is possible that the support for HTTPS on CNET.com has changed since the

[2017-08-08 19:46] jeremyn commented on #9958
@Hainish The "level" of each card (issue vs project) is arbitrary, there's no reason why you can't have multiple GitHub Projects boards at different levels.

It would be nice for us to track all of the user-driven projects out there using GitHub Projects, basically any of the existing issues with checklists such as https://github.com/EFForg/https-everywhere/issues/11203, https://github.com/EFForg/

[2017-08-08 20:14] numismatika commented on #11759
'  toolbar_button.js:409:7'

[2017-08-08 21:12] Hainish commented on #9958
@jeremyn I was just pointing out that this is conceptually different from Trello's stories, since they are more high-level and not necessarily tied to any issue.  I'm aware that these can be any arbitrary level we want, I'm not prescribing any specific tool for this purpose.

[2017-08-08 22:15] koops76 commented on #11759
https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/toolbar_button.js#L23
Try replacing `let` with `var`.

[2017-08-08 23:01] Hainish commented on #10478
@Bisaloo this seems not to be happening in the Embedded WebExtensions version, see https://github.com/EFForg/https-everywhere/pull/11760.  Can you test with this?

[2017-08-09 07:54] BK1233 opened #11766 "Add rule for border.gov.au"
Can a ruleset be added for www.border.gov.au. It is HTTPS enabled but is not default.

[2017-08-09 10:20] Bisaloo commented on #10478
Nope, still doesn't work. I can reproduce on Nightly (FF 57.0a1 (2017-08-03)) after building the xpi from 48d8d3e.

[2017-08-09 10:23] Bisaloo commented on #10478
Maybe you got tricked by this new feature, introduced in FF 55.0?

https://www.mozilla.org/en-US/firefox/55.0/releasenotes/

[2017-08-09 21:28] J0WI commented on #10822
I'm not sure if this dupes something that is going to change for the Firefox Webextension release.

[2017-08-09 21:30] J0WI commented on #11759
Mozilla is removing XPCOM from the current Nightly, so it's expected that things won't work anymore.
See https://github.com/EFForg/https-everywhere/projects/1

[2017-08-09 21:33] J0WI commented on #10968
@derpyderpaderp could you please try to reproduce with the current version of HTTPS Everywhere?
Please post your version if you are still able to reproduce this issue.

[2017-08-09 21:36] J0WI commented on #274
This might get obsolete during the migration to WebExtensions.

[2017-08-09 22:10] derpyderpaderp commented on #10968
Still able to reproduce this with Version: 2017.7.18 https://gyazo.com/a3ed94a97788935f469e001c99ececaa

[2017-08-09 22:21] koops76 commented on #274
Duplicate of #11637, #10852, #10909, #10931, #10932 and others.

[2017-08-09 22:23] koops76 commented on #274
@J0WI This code is going to be removed during the WebExtensions transition. Close this I guess.

[2017-08-09 22:27] J0WI commented on #10968
Looks like mixed passive content. Would you like to open your browser console and share the related warnings with us?

[2017-08-09 22:28] koops76 commented on #10822
@J0WI Add the high priority label please.

[2017-08-09 22:33] derpyderpaderp commented on #10968
https://gyazo.com/3b3f8ab310d06b989ee1745373159b26

[2017-08-09 23:24] Hainish opened #11793 "Investigate why sleep is necessary in Firefox test/script.py"
In `test/script.py` we have the one-liner:

[code]

Which is necessary in Firefox to allow the extension to load before testing.  We should investigate if URLs loaded at browser startup are rewritten or if this is a race condition with the Selenium webdriver.

[2017-08-09 23:25] J0WI commented on #10968
Thank you for the helpful screenshots!
I was able to reproduce the issue. Microsoft injects some insecure adverts and trackers on msn.com, but those gets blocked by the browsers mixed content blocker.
We don't consider Ads as an important part of the site, so we won't disable the rule because of this.

The mixed passive content is secured by HTTPS Everywhere, but the browser triggers the mixed con

[2017-08-09 23:25] #10968 closed

[2017-08-09 23:28] derpyderpaderp commented on #10968
Okay thank you

[2017-08-09 23:30] ghost opened #11794 "In-extension ruleset XML editor"
We could use [CodeMirror](https://codemirror.net/).

[2017-08-10 00:25] koops76 commented on #2311
Fixed by #11738.

[2017-08-10 02:41] ghost opened #11799 "Export and import user ruleset preferences in Chrome extension"
I don't think there is any point in exporting/importing the two options that are left if we exclude ruleset preferences.

I will be working on this soon.

[2017-08-10 02:42] koops76 commented on #11799
Assign this to me, @Hainish.

[2017-08-10 02:42] koops76 commented on #11799
Also, add this to kanban, @J0WI.

[2017-08-10 02:47] koops76 commented on #11794
@J0WI Maybe you'll add this to the kanban?

[2017-08-10 05:05] Hainish commented on #10007
This should be fixed by #11800, except for

which I consider low enough priority to defer to later.

[2017-08-10 05:05] #10007 closed

[2017-08-10 05:08] Hainish commented on #9958
As of #11800, the Firefox addon is an Embedded WebExtension.

I would like to deploy this early next week (Monday or Tuesday) as version 2017.8.14 or 2017.8.15.  This will be the same version on both Firefox and Chrome, and we will only have one signed tag, rather than two.

To add custom rules, you can still add them to your `HTTPSEverywhereUserRules` path, and subsequently change the `extensions

[2017-08-10 06:27] Hainish commented on #11240
Now that the Firefox version is an Embedded WebExtension, we're changing the versioning to align with the Chrome version: YYYY.MM.DD.  This should be deployed early next week.

[2017-08-10 06:31] koops76 commented on #11240
@Hainish Can you run the `securecookie` normalization script I am currently working at when I will finish it? It changes 4872 files, so that can't be easily done as a PR?

[2017-08-10 06:36] Hainish commented on #11240
I'd love to take a look and run it after making the next release.  I don't want to frontload any additional work until we get that out the door.

[2017-08-10 07:57] BK1233 opened #11802 "Modify Nintendo.com Rule"
Can Nintendo.com rule be modified to include Nintendo.com.au as it is HTTPS enabled but not by default.

[2017-08-10 08:28] sabret00the commented on #9958
Could you not have the full WebExtension version available on the developer channel at the point you make the switch to the embedded WE in order ensure that Nightly users are able to retain the benefits of HTTPS Everywhere? That's what a bunch of other developers are doing.

[2017-08-10 13:29] J0WI commented on #10007
@Hainish please note that this is a blocker for Tor users.

[2017-08-10 15:18] jeremyn commented on #10822
@gopherit I also use the custom rules directory, for HTTPS Everywhere maintenance. I asked @Hainish about plans to add this to the WebExtensions version, and he responded in https://github.com/EFForg/https-everywhere/issues/9958#issuecomment-315202693 and following with a (IMHO) tedious and complex workaround. It involves preprocessing the ruleset on the command line and then including the process

[2017-08-10 15:47] jeremyn commented on #11794
FYI, but as far as I know, the rulesets are stored in the extension itself in a compacted/modified form (see https://github.com/EFForg/https-everywhere/issues/9958#issuecomment-315202693). So, they are not available to edit within the extension itself the way that you see them on GitHub or the Atlas.

On the other hand this could be part of good alternative to the soon to be deprecated `HTTPSEvery

[2017-08-10 15:59] Hainish commented on #10007
On August 10, 2017 6:29:11 AM PDT, J0WI <notifications@github.com> wrote:

This is not, TB no longer enables `platform="mixedcontent"` rules. See https://trac.torproject.org/projects/tor/ticket/21323
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-10 17:18] koops76 commented on #10822
@J0WI I think WebExtensions has some mechanism for migrating the rulesets in `HTTPSEverywhereCustomRules` folder into the `localStorage`, but that's not real custom rule support. I also think the migration only happens once.

[2017-08-10 17:22] koops76 commented on #9958
@sabret00the Nightly is not meant for everyday use. It is used by many people though.

[2017-08-10 17:24] Bisaloo commented on #3798
Following @Hainish's comment in https://github.com/EFForg/https-everywhere/issues/10007#issuecomment-321595470:

I did some testing and onion rules are indeed disabled. This means `platform="tor"` is now necessary for those rules.

[2017-08-10 17:45] gitarra commented on #9958
@koops76 Nightly _**is**_ meant for everyday use.

How do you imagine Firefox QA is done?

As a matter of fact Mozilla is currently aggressively promoting Nightly as a daily driver for power users as they try to gain marketshare back.

[2017-08-10 17:45] Hainish opened #11805 "Create a Dev version for FF >= 57 users"
Many developers use the Firefox Dev version, which will be upgraded to 57 on 9/26: https://wiki.mozilla.org/RapidRelease/Calendar.  Some even use nightly, which is already on 57.

In this version, the Embedded WebExtension will cease to function.  We should provide these users with the full WebExtensions version early, through a development release channel.

We don't want to create persistent addi

[2017-08-10 17:46] Hainish commented on #9958
@sabret00the we have had a very unofficial development channel for testers of the WebExtensions version.  This isn't a bad idea, and will let our developers at least install a version of HTTPS Everywhere that they can use.  I've created an issue for it: https://github.com/EFForg/https-everywhere/issues/11805

[2017-08-10 17:47] Hainish commented on #10478
@Bisaloo if you're testing on 57, then the extension shouldn't work at all!

[2017-08-10 17:49] koops76 commented on #3798
That would be harder to test too.

[2017-08-10 17:52] Bisaloo commented on #10478
Well, it looks like it does. Apparently, nightly still works with Legacy XUL add-ons if you turn the pref on. I simply have a big warning "Legacy".

https://wiki.mozilla.org/Add-ons/Firefox57

[2017-08-10 17:52] koops76 commented on #3798
I think we should have this preference order:
HTTPS over `.onion` > HTTPS > HTTP over `.onion` > HTTP

[2017-08-10 17:54] Hainish commented on #10822
@jeremyn

* The Embedded WebExtension version is still able to digest rules in `HTTPSEverywhereUserRules`, https://github.com/EFForg/https-everywhere/issues/9958#issuecomment-321452120
* The WebExtension version does not have the capability to read files to disk

Do you have a suggested path forward?

[2017-08-10 17:55] koops76 commented on #3798
@Bisaloo Does that mean we can delete all `platform="mixedcontent"` rules?

[2017-08-10 17:55] Bisaloo commented on #11805
I posted this in another issue but it's also relevant here. Mozilla's plan about the deprecation of legacy add-ons in FF 57.

https://wiki.mozilla.org/Add-ons/Firefox57

[2017-08-10 17:57] koops76 commented on #10822
My suggestion is to migrate the rules from `HTTPSEverywhereCustomRules` folder into `localStorage`. For some reason I thought it is already done.

[2017-08-10 17:59] Bisaloo commented on #3798
No, users may still want to enable them. This simply means that `platform="mixedcontent"` rulesets are now considered `default_off` by all browsers.

[2017-08-10 17:59] mgol commented on #10822
@Hainish I feel what's deeply needed here - and that applies to both Chrome & Firefox versions - is to have a settings UI with an editable list of rules. At the basic level even a textarea with rules in a custom DSL would be a big improvement to the current state of things. Some extensions already have something like that, see e.g. uBlock Origin's rule list (the "My filters" tab in the add-on's op

[2017-08-10 18:02] koops76 commented on #3798
@Bisaloo Are you completely sure we still need them? These websites are broken with mixed content blocking on and disabling mixed content blocking is a security risk.

[2017-08-10 18:06] Bisaloo commented on #3798
@koops76, please refer to https://github.com/EFForg/https-everywhere/issues/9971 for a more detailed discussion about `platform="mixedcontent"` rulesets.

[2017-08-10 18:11] gitarra commented on #11805
@Bisaloo Yes this addon has been broken on Nightly since version bump to 57.

[2017-08-10 18:13] koops76 commented on #10822
@mgol #11794

[2017-08-10 18:18] koops76 commented on #11794
@jeremyn I mean the editor for the custom rulesets.

[2017-08-10 18:19] mcomella commented on #9958
FYI: [it was announced](https://mail.mozilla.org/pipermail/dev-addons/2017-August/003059.html) that tomorrow's Firefox Nightly will disable legacy extensions by default (assuming no unforeseen problems).

I asked a relevant follow-up question on Mozilla's IRC:

\<andym> i believe so, unless it has been explicitly disabled by the user
\<aswan> what andym says is correct
[code]

[2017-08-10 18:21] koops76 commented on #11805
@Hainish There's no need of this. See https://github.com/EFForg/https-everywhere/issues/10478#issuecomment-321625811.

[2017-08-10 18:26] koops76 commented on #9958
@gitarra Nightly is a testing version.

[2017-08-10 18:30] gitarra commented on #9958
@koops76 Thanks for letting me know! I thought I was on the ESR channel. /s

Jokes aside:

https://wiki.mozilla.org/Nightly

I guess thats official enough?

[2017-08-10 18:31] Bisaloo commented on #11805
A clearer comment on what's going on in Nightly: https://mail.mozilla.org/pipermail/dev-addons/2017-August/003059.html

This won't work for the Beta channel (which will use FF57.0 from 2017-09-20, [source](https://wiki.mozilla.org/RapidRelease/Calendar)) so it may be worth to create the dev version for them.

[2017-08-10 18:32] mgol commented on #10478
@Bisaloo Enabling legacy add-ons on Nightly doesn't mean the add-on will work. Firefox devs work on the assumption only WebExtensions will be supported in Firefox 57+ so they're free to break any APIs legacy add-ons depend on. You may enable them but many of them will be broken anyway.

[2017-08-10 18:40] Bisaloo commented on #10478
Okay, thanks for the heads up!

For this particular issue, it doesn't change anything. `Block all unencrypted requests` was working before browser restart and it's not after restart.

[2017-08-10 18:41] koops76 commented on #9958
@Hainish How can I get the version for Firefox that is already completely WebExtensions-based? I would like to test it with Nightly.

[2017-08-10 18:41] koops76 commented on #9958
@gitarra OK, I was wrong, Nightly *used* to be a testing version.

[2017-08-10 18:42] Bisaloo commented on #9958
@koops76 https://www.eff.org/files/https-everywhere-test/index.html or compile it yourself from the `webextensions` branch and flip the pref in nightly to enable unsigned addons.

[2017-08-10 19:28] numismatika commented on #11805
reading files from disk, is that something that won't work at all or just not yet?
I like symlinking the repo to HTTPS-UserRules for testing. Very simple and effective trick.

[2017-08-10 20:09] koops76 commented on #11805
@numismatika Did you disable the built-in rulesets in some way?

[2017-08-10 20:11] koops76 commented on #11805
@numismatika It won't work at all after we will migrate to WebExtensions completely.

[2017-08-10 20:26] Hainish commented on #3798
I don't see why we need a `platform` attribute at all for `.onion` URLs.  The worst thing that happens is someone who enters an onion URL such as `http://facebookcorewwwi.onion` is redirected to `https://facebookcorewwwi.onion` in a normal browser.  In either case, the resolution fails.  So what's the advantage here?

I think we should just remove `platform='mixedcontent'` from onion rulesets.  It

[2017-08-10 20:28] Hainish commented on #11805
@numismatika that's right, it won't work at all under WebExtensions.  This is a *good* thing for security.  Browser extensions you install shouldn't be able to arbitrarily read contents of your filesystem.

[2017-08-10 20:36] Hainish commented on #9958
@Bisaloo this is not an officially supported dev channel, but yes it's possible to install that on >= 57.

[2017-08-10 20:43] Hainish commented on #10822
@koops `HTTPSEverywhereUserRules` are being stored via the `storage` API (not localStorage) as of #11800, as an array under the key `legacy_custom_rulesets`.

[2017-08-10 20:43] Hainish commented on #10822
This is only after a migration is performed, though, which can only be done in Embedded WebExtensions.

[2017-08-10 20:46] Hainish commented on #11677
HTTPS Everywhere was started as a joint project between the Tor Project and EFF.  Transifex provided by Tor is a huge utility, it gets us an enormous amount of translator labor for absolutely free.

[2017-08-10 20:46] #11677 closed

[2017-08-10 21:17] J0WI commented on #9958
Years ago, we had a dev version (with auto update) for Firefox on EFF.org to beta test some rules.

[2017-08-10 21:37] J0WI commented on #3798
@Hainish I think a platform would still be helpful to pass out fetch tests. We had a PR about this, but I can't find it anymore.

[2017-08-10 22:23] koops76 commented on #3798
@J0WI Or we could just access all domains that end in .onion over Tor during the fetch test.

[2017-08-10 23:47] koops76 commented on #11759
This should be closed I guess.

[2017-08-11 00:02] #11759 closed

[2017-08-11 00:51] jeremyn commented on #10822
@Hainish: @mgol and @koops76 have the solution: an in-extension UI where you can edit rules. The key is that we can insert, modify, and persist rulesets which look like normal (not compacted) rulesets, using some kind of text editor.

[2017-08-11 01:02] jeremyn commented on #10822
@Hainish: even an "Import file..." dialog that just wraps the JavaScript console stuff you described in the other issue, would be a significant improvement.

[2017-08-11 01:59] koops76 commented on #10822
@jeremyn Working on that too.

[2017-08-11 02:47] Hainish commented on #10822
@jeremyn I'm confused about the way ruleset maintainers are testing rules.  Why not just pull the PR, test locally with `--justrun`, and merge if it works?  Why add `HTTPSEverywhereUserRules` at all?

I'm not against the "Import file" dialogue but I'd rather have it hidden away and standardize the current ui for adding rulesets.

[2017-08-11 03:02] koops76 commented on #10822
@Hainish I don't test rules locally at all. I rely on Travis to find broken hosts. I probably shouldn't though.

[2017-08-11 03:56] gopherit commented on #10822
Here are my use cases for the `HTTPSEverywhereUserRules` directory:
1.  General ruleset testing as they are being written.  Comes in especially handy for testing the `<securecookie>` tag to see what cookies do or don't respond.  If everything looks good, then submit PR.
2.  Rough draft rulesets that are a long way from becoming PRs.  Usually a quick-and-dirty left wildcard target, but in the final

[2017-08-11 04:04] ghost opened #11813 "Material Design"
Chrome is moving to Material Design. I think we should replace the current old Chrome style (`widgets.css`) with Material.

[2017-08-11 04:05] koops76 commented on #11813
Partially depends on #11637 (HTML and popup.js refactoring).

[2017-08-11 04:09] koops76 commented on #10822
@gopherit `HTTPSEverywhereUserRules` folder is going away with WebExtensions transition. We can't bring it on WebExtensions no matter how much we want to.

[2017-08-11 04:11] gopherit commented on #10822
I'm aware.  I was saying how I currently use custom rules and how I'd like to in the future with a UI that enables import and/or editing of custom rules.

[2017-08-11 04:27] Hainish commented on #10822
Thanks for the rundown @gopherit.  This sounds reasonable, and I'm in favor of adding this import functionality, so long as it's in the new `options` dialog and not in the popup.  This is a feature relatively few people will use, so let's not make it something people will get confused by if they see it in the popup.

[2017-08-11 04:31] koops76 commented on #10822
@Hainish Is the `options` dialog a tab or a popup of some kind, similar to `popup.html`? I am asking since `a[download]` attribute doesn't work in `popup.html` and I will need it for settings export.

[2017-08-11 04:31] koops76 commented on #10822
@Hainish Also #11813.

[2017-08-11 09:36] numismatika commented on #11805
@Hainish  Nobody wants "arbitrary" file reads. I think a defined folder per extension wouldn't hurt security.
Apart from the fact that the extension can simply be unpacked and studied when reviewing it in the first place.

[2017-08-11 09:59] edmorley opened #11819 "The Firefox development branch XPI is older than the release version"
On https://www.eff.org/https-everywhere there is:

The XPI linked from there (https://www.eff.org/files/https-everywhere-devel.xpi) installs in Firefox as version `5.0development.4`, compared to the newer version number `5.2.21` from https://www.eff.org/files/https-everywhere-latest.xpi of `5.2.21`.

In addition to the version number being older, it has the old style UI.

[2017-08-11 12:51] #11802 closed

[2017-08-11 12:53] J0WI commented on #11819
See #11805

[2017-08-11 13:35] Bisaloo commented on #8506
Just a reminder that this issue is about adding this header in HTTP-Nowhere mode so it wouldn't break more things than it currently is. In the example described by @jeremyn

The image will already fail to load in HTTP-Nowhere mode.

[2017-08-11 13:37] Bisaloo commented on #8506
My issue with this is that an additional header increase indentifiability. This would basically allow websites to find out whether users are using HTTP-Nowhere mode or not.

This could potentially be a problem in Tor browser.

[2017-08-11 13:46] sp-1234 commented on #11805
Stopped working on Nightly today. Please make the webext build public ASAP.

[2017-08-11 14:38] gitarra commented on #11819
@J0WI Unrelated.

[2017-08-11 14:40] gitarra commented on #11819
The whole eff pages are a mess of old and confusing information.

[2017-08-11 15:14] jeremyn commented on #8506
There is no serious defense against browser fingerprinting for an ordinary non-Tor user, so that shouldn't be a concern.

For Tor, the advice is to use all defaults partly to fight against fingerprinting, so if all Tor users send the new header, then they are no worse off than without the new header.

[2017-08-11 15:44] unknownmhack opened #11822 "https-everywhere does not work on firefox nightly anymore"
because Firefox is changing to web-extensions, the extension is blocked on Firefox nightly

[2017-08-11 15:52] cschanaj commented on #11822
https://github.com/EFForg/https-everywhere/issues/11759#issuecomment-321386955

[2017-08-11 16:00] cschanaj commented on #11240
@Hainish Please also schedule to merge #11187 and #11597 after making the next release. Requested changes were made some time ago and it is still pending for a third review. This is important because it will conflict & block other works on the Travis tests, e.g. #11616. thanks!

[2017-08-11 16:03] jeremyn commented on #10822
@Hainish My HTTPS Everywhere development environment is in a graphic-less VM based on https://github.com/jeremyn/https-everywhere-dev-environment. I don't run automated tests locally other than `fetch-test.sh`.

For reviewing PRs that add new rulesets or overhaul existing ones (example: `Export.gov.xml` in https://github.com/EFForg/https-everywhere/pull/11784) I might do a combination of this (not

[2017-08-11 16:04] jeremyn commented on #11822
Closing as a duplicate of #11759 .

[2017-08-11 16:04] #11822 closed

[2017-08-11 16:07] jeremyn commented on #11819
@Hainish Please take a look at this. Can we remove the link to the old file discussed here? Leaving up an old version of the extension while claiming it's a new version is arguably a security issue.

[2017-08-11 17:39] koops76 commented on #11805
@sp-1234 https://eff.org/files/https-everywhere-test/
Download the latest WebExtensions-only version here.

[2017-08-11 17:41] edmorley commented on #11819
Many thanks!

[2017-08-11 17:43] kah0922 commented on #11805
@koops76 I'm getting a 404 error with that URL,
[This is the URL you're looking for (I think)](https://www.eff.org/files/https-everywhere-test/index.html)

[2017-08-11 17:47] koops76 commented on #11822
@unknownmhack https://www.eff.org/files/https-everywhere-test/index.html
Download the latest WebExtensions-only version here.

[2017-08-11 20:28] petteyg commented on #9246
Cannot load the dropdown "processor"/"memory" etc. menus on any section of their store pages with HTTPS Everywhere enabled. Most of the site just gives me blank pages with nothing but the menus. Turn HTTPS Everywhere off and everything on dell.com immediately starts working.

[2017-08-11 20:30] koops76 commented on #9246
@J0WI Should we temporarily disable Dell.com ruleset?

[2017-08-11 20:58] dholbert opened #11823 "With WebExtension in Firefox Nightly "customize mode", HTTPS Everywhere icon's title says "(inactive)" which is misleading"
STR:
 1. Start Firefox Nightly
 2. Install latest HTTPS Everywhere WebExtension from https://www.eff.org/files/https-everywhere-test/index.html
(I'm using https-everywhere-2017.7.21.1338-eff.xpi )
 3. Click the Firefox hamburger menu (top right of UI) and choose "Customize..."
 4. Drag the HTTPS Everywhere icon from your toolbar onto the overflow menu (directly below it)

ACTUAL RESULTS:
The HTTPS

[2017-08-11 23:48] koops76 commented on #11823
Fix: #11824

[2017-08-12 09:02] creideiki opened #11834 "Switch DeviantArt rules on by default"
DeviantArt [now claims to support HTTPS on the entire site](https://danlev.deviantart.com/journal/DeviantArt-Is-Switching-To-HTTPS-697996906).

This hopefully means that [Deviantart.xml](/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Deviantart.xml) can be simplified and enabled by default.

[2017-08-12 14:22] jony0008 commented on #3069
Please add https://genusdebatten.se

[2017-08-12 16:33] SamuelePilleri commented on #10842
I was reading #8506 as pointed out by @iki. The topic is quite interesting from a technical point of view, so I would start focusing on "same host" resources.

Reading through MDN docs I've found [`default-src`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/default-src) which description says:

I'm completely new to this and I still have a lot to figure out, but

[2017-08-12 20:42] HTTPSNowhere opened #11848 "Make rule for nbcwashington.com"

[2017-08-13 07:40] brad2014 opened #11853 "HTTPS-Everywhere breaks Lastpass 2FA"
LastPass chrome extension, set to require password and Google Authenticator for 2FA, behaves improperly on browser startup when HTTPS-Everywhere is enabled. The user logs in with password and 2FA, indicating that the device should be trusted for 30 days.  On next login, the user is incorrectly asked to provide 2FA again (but not a password) in order to access LastPass.

Environment:
- Mac OS: Vers

[2017-08-13 09:39] brad2014 commented on #11853
It doesn't seem to be related to a particular rule.  If the default.rules file contains
- rulesets 1-6123 (00f.net.xml - Free_Porn_Gif.com.xml) it is not triggered,
- rulesets 1-6124 (00f.net.xml - Free_Press.xml), then the bug *is* triggered,
- rulesets 6000-12124 (Fordela.com.xml - Orange.xml), then the bug is not triggered.

[2017-08-13 13:53] J0WI commented on #9246
We should just exclude the specific requests to `afcs.dell.com`.

[2017-08-13 14:01] koops76 commented on #9246
@J0WI Which URLs should we exclude?

[2017-08-13 16:39] J0WI commented on #9246
As far as I can see resources from `https://afcs.dell.com/bundles/` are affected.

[2017-08-13 16:40] J0WI commented on #11848
closed by #11850

[2017-08-13 16:40] #11848 closed

[2017-08-14 02:18] githubmarker commented on #296
Just came across this issue since I had a similar problem. It would be helpful if there were a way to do this exclusion through the UI.

[2017-08-14 03:35] koops76 opened #11870 "Run securecookie normalization script"
@Hainish Please run this script: https://gist.github.com/koops76/14db6c6c1250eadc98644cff51e7add7.

I'm not making this a pull request because it changes 5354 files. Travis would probably explode. 😁

Please note that if ruleset whitelist cleanup is not run before running this script, it will throw errors on SHA256 mismatches.

After the script is run, merge #11872.

[2017-08-14 04:12] koops76 commented on #11870
@Hainish Is `<securecookie host="^\w" />` functionally equivalent to `<securecookie host=".+" />`?

[2017-08-14 04:15] cschanaj commented on #11870
@koops76 AFAIK

[code]

[2017-08-14 04:37] koops76 commented on #11870
@cschanaj Replaced `\s+` with `\s*`.

[2017-08-14 04:39] cschanaj commented on #11870
@koops76 please also note spaces before the `quote` and consider splitting the for each orders of `name` and `host`. thanks!!

[2017-08-14 04:45] koops76 commented on #11870
@cschanaj Do you mean `host=     "something"` or similar?

[2017-08-14 04:47] cschanaj commented on #11870
exactly. you can insert `\s*` right before the quotes.

[2017-08-14 04:49] koops76 commented on #11870
@cschanaj Added whitespace after `=` support.

[2017-08-14 04:52] koops76 commented on #11870
@cschanaj Can you try separating the regexes? I am not as good at regexes. This one was the most complex regex I made I guess. 😁

[2017-08-14 04:54] cschanaj commented on #11870
ok. A minor issues, the regex you use might rewrite commented `securecookie` as well. do you mind if I fix that as well? e.g.

[code]

[2017-08-14 04:55] koops76 commented on #11870
Yeah, of course, do it. BTW, this is why parsing XML or HTML by regex is often a bad idea. 😁

[2017-08-14 05:23] cschanaj commented on #11870
@koops76 please have a look

- https://regex101.com/r/3oZTwt/1
- https://regex101.com/r/lcjFy4/1
- https://regex101.com/r/i0YO7Z/1

Source
- https://gist.github.com/cschanaj/eb0de61c00389cfccb93cd78381a7b8e

P.S. I seldom do nodejs I guess this will work. (at least the regex :smile: )

[2017-08-14 05:25] cschanaj commented on #11870
Just updated to make sure `host` always go before `name`.

[2017-08-14 05:30] koops76 commented on #11870
@cschanaj Why `/.*/g` instead of `/.*/gi`?

[2017-08-14 05:32] koops76 commented on #11870
@cschanaj The first regex may match `<securecookie host="." name="." />`.

[2017-08-14 05:38] cschanaj commented on #11870
Thing like `SecureCookie`, `Host`, `NAME` should fails `rules-test`. The same hold true if `securecookie` has double `host` or `name` as specified in https://github.com/EFForg/https-everywhere/blob/master/utils/relaxng.xml#L49

[2017-08-14 06:17] koops76 commented on #11870
@cschanaj Note that `/\^?\.\*?\$?/` does not match `.+`. This is important so the files already having `.+` for all `<securecookie>` attributes won't be changed.

[2017-08-14 06:56] cschanaj commented on #11870
@koops76 `<securecookie host=".+" name=".+" />` are matched by the 1st regular expression, but it won't be replaced (the replacement does not change anything). You may permute the combination of `.`, `.+` and `.*` to exclude (`.+`, `.+`). But they are just the same IMHO.

[2017-08-14 07:53] koops76 commented on #11870
@cschanaj No, it would also replace things like `<securecookie host=".+" name=".+"/>` with `<securecookie host=".+" name=".+" />`, changing lots of files. If the changed file count is not increased too much by this, I may do it.

[2017-08-14 08:25] cschanaj commented on #11870
@koops76 Would you modify your script on GIST for Hainish to run it later?

[2017-08-14 08:39] koops76 commented on #11870
Check it out. I modified it.

[2017-08-14 08:45] cschanaj commented on #11870
@koops76 not the same as https://gist.github.com/cschanaj/eb0de61c00389cfccb93cd78381a7b8e? the leading `\n([ \t]*)` and `\s*?\n` avoid commented `securecookie` to be rewritten, you shouldn't remove that.

Besides, https://gist.github.com/koops76/14db6c6c1250eadc98644cff51e7add7#file-normalize-securecookie-js-L21 match `host=""`.

[2017-08-14 09:31] koops76 commented on #11870
@cschanaj Done. I guess replacing commented `securecookie`s too is not a big issue.

[2017-08-14 10:45] HTTPSNowhere opened #11874 "Make rule for cbsnews.com"

[2017-08-14 10:49] HTTPSNowhere commented on #11046
Solved by https://github.com/EFForg/https-everywhere/pull/11155

Closing.

[2017-08-14 10:49] #11046 closed

[2017-08-14 10:54] #9353 closed

[2017-08-14 12:22] edmorley commented on #11805
I've opened a tracking bug on Firefox's side [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1390116), so that the script that generates https://arewewebextensionsyet.com/ has something to link to. If there are any platform changes required to assist the conversion to a web extension, please mark them as blocking that bug. Many thanks!

[2017-08-14 21:26] #9246 closed

[2017-08-15 03:59] koops76 opened #11908 "chrome.tabs.query({ active: true, currentWindow: true }, ...) returns 0 tabs"
@Hainish `chrome.tabs.query({ active: true, currentWindow: true }, ...)` seems to always returns 0 tabs. Please replace it with `chrome.tabs.query({ active: true, lastFocusedWindow: true }, ...)` if you can confirm.

[2017-08-15 04:06] koops76 opened #11909 "A better ruleset whitelist cleanup script"
We need a better ruleset whitelist cleanup script. The current one misses many hash mismatches.

[2017-08-15 05:37] cschanaj commented on #11909
Can you give a few examples such that I can confirm this issue?

[2017-08-15 05:49] koops76 commented on #11909
@cschanaj
[code]

[2017-08-15 08:54] cschanaj commented on #11909
@koops76 I've got

[code]

and the script works as expected.

[2017-08-15 09:14] koops76 commented on #11909
Oops. Closing. Tried downloading and hashing https://github.com/EFForg/https-everywhere/raw/master/src/chrome/content/rules/Zorpia.xml. It matches. I will rewrite this script in Node anyway.

[2017-08-15 09:14] #11909 closed

[2017-08-15 09:28] cschanaj commented on #11870
@koops76 since you've said that you will be modifying the script, IMHO you can rewrite the files in-place. This will avoid unnecessary workload and possible human errors in the operations.

Besides, it is also fine not to modify the whitelist with your script, since Hanish will have to whitelist the files anyway. A bonus of this is that you can reduce the program to a `sed` script. (optional)

[2017-08-15 09:44] koops76 commented on #11870
@cschanaj It needs to be able to check if SHA256 matches.

[2017-08-15 10:37] cschanaj commented on #11870
@koops76 I just think that this change is a cosmetic one (related to #10378), so minimal works should be done on making a script. Please feel free to continue your work on the script in your preferred way.

~[`normsc.sed`](https://gist.github.com/cschanaj/acac98472b76291944f5a59a8b0f1e4b) is a `sed` script I have made and it seems that only 200+ files need whitelisting from `rules-test`, see [`lis

[2017-08-15 11:03] koops76 commented on #11870
@cschanaj No, it's also an optimization. See #11872.

[2017-08-15 13:04] jony0008 commented on #3069
Please add https://cdon.se

[2017-08-15 13:33] #7953 closed

[2017-08-15 13:35] koops76 commented on #3069
@jony0008 This list is not updated, simply make an issue.

[2017-08-15 13:39] jony0008 commented on #3069
@koops76 Thanks

[2017-08-15 13:45] koops76 commented on #3069
@jony0008 #11926

[2017-08-15 13:47] koops76 commented on #3069
@jony0008 #11927

[2017-08-15 13:50] koops76 commented on #3069
@jony0008 #11929

[2017-08-15 13:50] jony0008 opened #11930 "Add rules"
Please add rules for
https://www.skandiamaklarna.se/
https://www.lansfast.se/
https://www.momondo.se/
https://www.momondo.fi/
https://www.momondo.no/
https://www.momondo.dk/
https://www.momondo.de/
https://www.momondo.co.uk/
https://www.momondo.com/
https://www.momondo.es/
https://www.momondo.fr/
https://www.momondo.nl/
https://www.momondo.pt/
https://www.momondo.ru/
https://www.supersavertravel.s

[2017-08-15 13:55] #11908 closed

[2017-08-15 20:32] terrorist96 commented on #3069
@koops76 This list is updated. What are you talking about? This list is a list of outstanding sites that should have HTTPS forced. It's available to anyone who wants to make rules.

[2017-08-15 23:30] evaryont commented on #11240
Version 5.2.21 is still listed on [addons.mozilla.org](https://addons.mozilla.org/en-US/firefox/addon/https-everywhere/?src=ss). Have you submitted version 2017.8.15 to the marketplace? (If it's still under review, that'd also be useful to know.)

[2017-08-16 00:37] J0WI commented on #11240
The release has not yet been published.

@Hainish I hope we can publish some extra verbose release notes to inform the Firefox users about the transition to web extensions and the new/missing/wip features.

[2017-08-16 01:18] Hainish commented on #11240
@evaryont when I close this issue is when you know it has been submitted to AMO.

@J0WI you can use the copy from my email:

[code]

[2017-08-16 01:18] #11240 closed

[2017-08-16 03:28] koops76 commented on #3069
@terrorist96 OK, I see now you updated it.

[2017-08-16 07:56] mvhirsch opened #11941 "Remove ruleset for myfitnesspal.com"
Hi, something I would never recommend, but please remove the redirection ruleset to HTTPS for myfitnesspal.com.
The reason is simple: myfitnesspal.com supports HTTPS _only_ on it's homepage: https://www.myfitnesspal.com
But after logging into it's service, they're forcing a redirect to HTTP (unsecure). So a typical login on looks like the following:

1. Open http://www.myfitnesspal.com
2. Redirect

[2017-08-16 07:58] jony0008 commented on #3069
#11930 Add new rules

[2017-08-16 09:24] koops76 commented on #11941
@mvhirsch https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/MyFitnessPal.com.xml

We do not have a `www` target. Not sure what is causing the redirect for you.

[2017-08-16 09:35] mvhirsch commented on #11941
@koops76 it doesn't depend on `www.`. Requesting http://myfitnesspal.com will redirect to http://www.myfitnesspal.com (triggered by myfitnesspal).
The problem is, that after this redirect https-everywhere then redirects to https (which is fine too).

But after logging into the website, myfitnesspal forces a http (unsecure), but https-everywhere kicks in again and redirects to https ... causing an

[2017-08-16 09:38] cschanaj commented on #11941
duplicate of #11029, fixed in #11033. this problem should be resolved when `2017.8.15` is released.

[2017-08-16 11:12] foobar13373 opened #11943 "Blocking non-encrypted traffic not working in FF"
I just got Version "2017.8.15" in FF55 (64Bit) on Win10 and the checkbox to block all non-encrypted traffic does not work at all. It does not get saved and no http-content is blocked.

Also, how can I enable/disable rules with this new interface?

[2017-08-16 13:00] gopherit opened #11944 "2017.8.15 Only Works in Tor Browser Bundle 7.0.4 (FF 52.3.0) (32-bit) when Security Slider Set to "Low" on Startup"
1.  Only works when TBB Security Slider set to Low (Default) on Startup.  If TBB is started with Security Slider set to Medium or High, HTTPS Everywhere will never work for that browser session.
2.  The UI works only when the Security Slider is set to Low.  When set to Medium or High, it blanks out.

![httpseverywhere_tbb_bug_2017-08-15](https://user-images.githubusercontent.com/25557897/29364414-

[2017-08-16 13:51] HTTPSNowhere commented on #10505
Oregon-State-University.xml is disabled currently so it's not a problem. @J0WI close this issue?

[2017-08-16 13:54] HTTPSNowhere commented on #11943
Duplicate https://github.com/EFForg/https-everywhere/issues/10150

[2017-08-16 18:07] itzameongithub opened #11947 "Remove filter for subscribeonandroid.com"
Please remove the filters for [www.]subscribeonandroid,com. Going to that site through HTTPS causes a "not found" when attempting to locate a podcast.

[2017-08-16 18:21] foobar13373 opened #11948 "Embedded WebExtension on FF ESR does not work if JS is disabled"
After I got the 2017.8.15 update on my FF55 64Bit (Win10) the extension simply does not work anymore.

Before the update it correctly rewrote scummvm.org or 4chan.org, to name some examples (both are still listed on the atlas rule list as working). . After the update all domains I checked are not rewritten to HTTPS anymore and I suspect this is the case for all. I also checked a handful random one

[2017-08-16 19:53] Folant commented on #11948
I'm getting the same behaviour on Win10 FF55.0.2(64b)/Tor 7.0.4(32b)
 #11944 somewhat related, probably. But I can't get it to work even on "Low".

[2017-08-16 22:10] stephenwade commented on #10505
Must have been disabled since I ran across it. I can verify that it's disabled now. I'll close this.

[2017-08-16 22:10] #10505 closed

[2017-08-17 01:09] J0WI commented on #11941
closed by #11033

[2017-08-17 01:09] #11941 closed

[2017-08-17 02:04] BK1233 commented on #11948
I'm also experiencing issues with enabling rules that are turned off by default.

[2017-08-17 07:30] numismatika commented on #8506
Is there any progress on the basic firefox issue that causes mcb warnings on ressources we already converted to use tls?

[2017-08-17 08:52] koops76 commented on #11823
@Hainish Since you closed #11824, you may as well close this.

[2017-08-17 08:59] koops76 commented on #11948
ping @Hainish

[2017-08-17 13:09] Kaeltis opened #11953 "nexusmods.com rule breaks downloading"
It seems commit 27fef948c9fd3ed653581b1fa77ff14697b309d7 is breaking downloading on nexusmods.com (on Chrome) since some issues with CORS and Mixed Content.

[code]

[2017-08-17 13:30] CapelliRossi commented on #11953
I can confirm the issue on my side. After disabling the browser plugin everything works fine.

[2017-08-17 13:30] numismatika opened #11954 "German federal authorities and parishes that could be secured"
https://https.jetzt has a csv of public domains that could be secured in parts because they do not redirect plain to tls but support it.
Maybe someone can run over that list with a script.

[2017-08-17 13:38] #11834 closed

[2017-08-17 14:55] jeremyn commented on #8506
@numismatika What's an example?

[2017-08-17 15:05] jeremyn commented on #11948
HTTPS Everywhere works for me for http://scummvm.org using Firefox v55.0.1, extension version 2017.8.15, Ubuntu 16.04. By "works" I mean if I watch the developer console Network tab and type "scummvm.org" into the address bar and press enter, the initial request is made to https://scummvm.org/ and gets a 301 response.

[2017-08-17 15:19] foobar13373 commented on #11948
@jeremyn
In my installation the request goes exactly to where it was made. A HTTP request to scummvm.org stays on plain http.

I tried with all my other extension (uBlock Origin and Decentral Eyes) disabled and enabled. Same behavior in both cases.

Are there any settings in about:config that could influence HTTPS Everwhere's core functionality in the new version?

[2017-08-17 15:41] jeremyn commented on #11948
@foobar13373 Regarding about:config settings: none that I know of.

Could you please attach a screenshot showing what your add-on UI looks like, showing the box expanded that says "HTTPS Everywhere" with all the checkboxes?

[2017-08-17 15:44] user684 commented on #11948
Do you have localStorage disabled? I had to set:

dom.storage.enabled

in about:config to true for the 2017.8.15 version of the add-on to work. In the past HTTPS Everywhere did not require localStorage.

chrome/{background,popup}.js have references to localStorage.

Considering this add-on is used to improve privacy (and security), it doesn't make sense to require users to enable a feature that ca

[2017-08-17 15:48] jeremyn commented on #11948
`dom.storage.enabled` is enabled for me in about:config and according to Firefox, enabled (`true`) is the default setting.

[2017-08-17 15:52] jeremyn commented on #11948
@user684 We have to store persistent settings somewhere.

[2017-08-17 15:54] user684 commented on #11948
Indeed, but they were stored in the past via some other method.

[2017-08-17 15:55] foobar13373 commented on #11948
Screenshot (using scummvm.org as an example):

![httpse](https://user-images.githubusercontent.com/12614978/29421233-b6544cea-8374-11e7-9759-c6918d8996f6.png)

`dom.storage.enabled` is set to `true` in my case. But I agree that this should not be required for the extension, I was often thinking about turning this off (didn't do it already because I need to find the real implications on the behavio

[2017-08-17 16:12] foobar13373 commented on #11948
I just renamed my FF profile folder, started FF to create a fresh profile. installed HTTPS-E from eff.org - and it was working (even the block all unencypted checkbox).

So there surely must be some other setting that is influencing how/if HTTPS-E is working.

[2017-08-17 16:21] foobar13373 commented on #11948
It is not working in my original profile, even if I disable all addons (uBlock Origin + Decentral Eyes) and only leave HTTPS-E active.

I have safebrowsing off, OCSP off (generally I turn <s>features</s> bugs off that trigger requests to locations that are not requested by me in some way, either by entering it in the bar or by willingly enabling an add-on by hand) and opted in for e10s.

[2017-08-17 16:24] user684 commented on #11948
Do you use a user.js file to override any about:config settings?

[2017-08-17 17:02] numismatika commented on #8506
https://forums.askmrrobot.com/ warns about insecure requests from
http://askmrrobot.discoursehosting.net/uploads/db4666/original/1X/80949fd802e399f623154ccd2b33d33a93461cce.png although it is already rewritten by the AMR rule

[2017-08-17 17:15] foobar13373 commented on #11948
No. I only use a regular FF 55 with HTTPS-E, uBlock Origin (block everything by default, then whitelist allowed requests on a per domain base), Decentral Eyes. With home-calling (OCSP, "safe" browsing, etc. off). Cookies are disabled (I enable some sites by hand), browser history is cleaned on exit. DRM is disabled. All shipped search engines are removed and replaced by Duck Duck Go. Address bar s

[2017-08-17 17:56] foobar13373 commented on #11948
I could isolate the problem. And it is really strange. I created a clean profile again, installed only HTTPS-E. It was working. Then I switched a setting in teh regular settings dialogue and restarted the browser. I did this setting-by-setting.

**HTTPS Everywhere ist not working if you choose custom privacy settings and disable cookies at all and restart teh browser!**

[2017-08-17 18:09] Hainish commented on #11948
Thanks for the report @foobar13373.  I'm looking into this now.

[2017-08-17 18:20] jeremyn commented on #8506
@numismatika Thanks, I understand your example. This looks like a Firefox problem, not an HTTPS Everywhere problem. Do you think so too?

[2017-08-17 18:27] jeremyn commented on #11948
@foobar13373 I can confirm your results, that is, that unchecking "Accept cookies from sites" in about:preferences#privacy and restarting Firefox will cause HTTPS Everywhere to not rewrite http://scummvm.org to HTTPS. Good catch!

[2017-08-17 18:27] jeremyn commented on #11948
@foobar13373 By the way, you can work with profiles using `about:profiles`. You don't need to rename folders or anything like that.

[2017-08-17 18:45] Folant commented on #11948
It seems that all cookie/profile manipulations have zero impact in my case. i.imgur.com for example 🤔
1. New profile with 2017.8.15
![webext](https://user-images.githubusercontent.com/24426523/29428030-68ed946e-8394-11e7-95c7-9374bcdfafff.png)
2. New profile with 5.2.21
![nonwebext](https://user-images.githubusercontent.com/24426523/29428031-6968e4b6-8394-11e7-8d83-59ea5d873b2d.png)

[2017-08-17 19:05] strugee commented on #8506
@jeremyn I believe @numismatika was saying it _was_ an upstream issue and was wondering whether there's been progress on it.

[2017-08-17 19:08] strugee commented on #8506
https://bugzilla.mozilla.org/show_bug.cgi?id=878890 appears to be the relevant BMO bug.

[2017-08-17 19:11] aemxdp commented on #11943
Exactly the same issue in Chrome. It worked perfect few days ago.

[2017-08-17 19:16] user684 commented on #11948
According to this:
https://superuser.com/questions/629525/how-to-control-websites-use-of-localstorage-in-firefox

Cookies must be enabled for localStorage to work. So even if you have localStorage enabled, if you disabled cookies it breaks the add-on.

So both cookies and localStorage must be enabled for the 2017.8.15 version.

[2017-08-17 19:21] foobar13373 commented on #11948
If it's not possible to whitelist specific extension or the extension is not adjusted to not use localStorage/cookies, I'd rather not use HTTPS-E anymore. Since I'm working with a full-block uBlock Origin with whitelisting anyways (most of my visited/bookmarked sites are https anyways already), enabling cookies/localStorage just for HTTPS Everyhwere would lower my privacy settings, I feel.

[2017-08-17 19:24] Hainish commented on #11948
I've identified the issue and have a fix for it

[2017-08-17 19:24] Hainish commented on #11948
This will be released at some point today

[2017-08-17 19:26] user684 commented on #11948
Thank you for the quick fix, Hainish. Does this mean it will now work with both cookies and localStorage disabled?

[2017-08-17 19:26] Hainish commented on #11948
The data that is stored in localStorage is whether specific rules are enabled/disabled.  If we mock out the localStorage object on run, the enable/disable will not persist across browser runs but at least it will not cause the extension to stop running when cookies are disabled.

[2017-08-17 19:27] Hainish commented on #11948
This is what I've done for the hotfix, we'll have to come up with a better solution later.

[2017-08-17 19:28] foobar13373 commented on #11948
Nice, that sounds perfectly fine for me as I was never using custom or manually dis/enabled rules, only the shipped ones as the are.

But a more general fix would surely be nice for people with custom settings and disabled cookies.

[2017-08-17 19:40] Hainish commented on #11948
This should be fixed as of https://github.com/EFForg/https-everywhere/commit/8ac30544e8724e43a30d7a54b157cd96c9728bde, I'll keep this open until we get good reports of this resolving the issue.

[2017-08-17 19:41] Hainish commented on #11948
I'll make an emergency release today.  I'm also getting a related error report from Tor Browser: https://trac.torproject.org/projects/tor/ticket/23258.  This does not fix the issue there.  I'd like to bundle the fixes together if possible.

[2017-08-17 20:11] Hainish commented on #11948
There is another issue with the extension not behaving correctly when JavaScript is disabled.  This worked before, so this is again unexpected.  This behavior is not observed in Chromium with JavaScript disabled.

[2017-08-17 20:12] Hainish commented on #11948
I'm not seeing any useful output from the debugging console for this error.  I do observe blank fields in the popup.

[2017-08-17 20:41] Hainish commented on #11948
Testing between Firefox 52 (ESR) and Firefox 55.

When JavaScript is disabled in 55, the extension behaves properly upon browser load.
When JavaScript is disabled in 52 ESR, the extension does not redirect URLs and the popup is loaded with blank fields.

[2017-08-17 20:51] koops76 commented on #11948
@Hainish I doubt that any extensions work with disabled JavaScript.

[2017-08-17 20:53] koops76 commented on #11948
@Hainish Check if #11908 will fix it.

[2017-08-17 20:59] Hainish commented on #11948
@koops76 yes, extensions are supposed to work when JavaScript is disabled.

[2017-08-17 21:07] koops76 commented on #11948
@Hainish Try stepping through the code using the debugger.

[2017-08-17 21:47] Hainish commented on #11948
It looks like this is related to https://bugzilla.mozilla.org/show_bug.cgi?id=1329731

[2017-08-17 21:50] springacres commented on #11953
Second confirmation here.  Disabling and rerouting to www.nexusmods.com instead of https://www.nexusmods.com works.

[2017-08-17 21:53] koops76 commented on #11953
Closed by #11961

[2017-08-17 22:33] Hainish commented on #11948
The cookies issue should be fixed if you update now.  If you have JavaScript disabled in Firefox ESR, you'll still encounter some problems.

[2017-08-17 22:50] Hainish opened #11962 "Use the storage API rather than localStorage everywhere."
localStorage isn't reliably present, and gives security warnings when accessed while cookies are disabled.  It'd be better to use `storage` instead.

See https://github.com/EFForg/https-everywhere/issues/11948

[2017-08-17 22:52] Hainish commented on #11948
@foobar13373 can you test this fix?

[2017-08-17 23:05] Hainish commented on #11823
This is still an issue and should be fixed.  I wonder if there's a way to fix it without removing the status line altogether.

[2017-08-18 00:28] jylr commented on #11948
Unfortunately it is still broken for me in Tor Browser.

[2017-08-18 00:40] J0WI commented on #11954
See also #5047

[2017-08-18 00:54] Hainish commented on #11948
@jylr this is expected, see https://bugzilla.mozilla.org/show_bug.cgi?id=1329731

[2017-08-18 01:07] BeneathThePlass opened #11970 "Cannot download anything from NexusMods.com while on HTTPS"
This just started happening withing the last couple days; anytime I try to download anything from www.nexusmods.com, I receive an error message. This has been verified on three computers; my laptop, my desktop, and my wife's desktop, with both Windows 10 and Windows 7.

![http everywhere nexusmods error](https://user-images.githubusercontent.com/31116667/29440029-bba4dd98-838f-11e7-8eac-9eba75c148

[2017-08-18 01:09] jylr commented on #11948
I see, thanks.

[2017-08-18 01:53] jeremyn commented on #11948
@Hainish The problem I described in https://github.com/EFForg/https-everywhere/issues/11948#issuecomment-323155485 reproducing @foobar13373 's original issue, is fixed for me.

[2017-08-18 06:18] foobar13373 commented on #11948
@Hainish
HTTPS-E works now if cookies are disabled and localStorage is enabled. Having both, cookies _and_ localStorage (`dom.storage.enabled` set to `false`), disabled, shows the same behaviour as before.

[2017-08-18 06:47] foobar13373 commented on #11948
Just for the record: @gorhill is facing similar issues in uBlock Origin:
https://github.com/gorhill/uBlock/issues/2824

[2017-08-18 09:53] mvhirsch commented on #11941
Thank you very much! I will test it as soon as the update gets available for firefox :-)

[2017-08-18 12:32] stevenwdv commented on #9958
Would it really not be possible to add an option to use `HTTPSEverywhereUserRules` for storage? The current UI lacks support for exporting rules and easily importing them as we were able to do with `HTTPSEverywhereUserRules`.

[2017-08-18 13:27] sdmeyers opened #11977 "Custom rules in FF stoped working in 2017.8.15"
Rules in my FF (Mac OS) profile `HTTPSEverywhereUserRules` directory no longer work with the latest updates.

[2017-08-18 14:06] foobar13373 commented on #11977
But the shipped rules are working? Or is it not working at all? Then it could be this issue: #11948

[2017-08-18 14:14] sdmeyers commented on #11977
Shipped rules seem to work fine (at least I haven't encountered any issues with them). Only custom rules aren't working.

[2017-08-18 14:30] user684 commented on #11948
From my understanding the localStorage property will always be defined on the window object, so even if localStorage is disabled window.hasOwnProperty('localStorage') will return true, but trying to use it will not work.

So if you do something like gorhill did, or simply (from your commit):

var ls = localStorage || {setItem: () => {}, getItem: () => {}};

That should fix it.

[2017-08-18 15:18] koops76 commented on #11970
Duplicate of #11953, already fixed, please close.

[2017-08-18 15:20] koops76 commented on #11948
@Hainish Then use `try...catch`.

[2017-08-18 15:21] koops76 commented on #9958
@stevenwdv Not possible. Extensions can't access file system anymore.

[2017-08-18 16:49] J0WI commented on #9958
Please see #10822 for the custom rules discussion.

[2017-08-18 18:16] Kezxo commented on #11948
Latest version still doesn't work with imgur links like this one: http://i.imgur.com/ia1NcWr.jpg but it does work for http://imgur.com/
Tested using a new Firefox profile, default settings and no other add-ons.

[2017-08-18 18:26] foobar13373 commented on #11948
I can confirm this. But it seems to be another issue, it's not related to JS, cookies or storage.

[2017-08-18 18:33] Hainish commented on #11948
@user684 @koops76 simply accessing localStorage raises a security exception.  In the current version I've surrounded all localStorage references in a `try/catch`.

[2017-08-18 18:51] koops76 opened #11980 "http://fatlinesofcode.github.io/jquery.smoothwheel/demo/smoothwheel.html is not redirected to HTTPS"

[2017-08-18 20:18] ADAMPOKE111 opened #11981 "Doesn't rewrite URLs with wildcard targets in Firefox (includes *.gfycat.com, *.github.io, *.imgur.com, *.shopify.com, *.media.tumblr.com)"
Accessing any image under the i.imgur.com subdomain through HTTP which is commonly hyperlinked on websites is not being redirected to the HTTPS variant for some odd reason despite the rule being present here: https://github.com/EFForg/https-everywhere/blob/a641125fc36c3a48a4cc4c33938fa369f397cfcc/src/chrome/content/rules/Imgur.xml

[2017-08-18 20:46] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #10150
i can also confirm this issue on chrome. very strange

[2017-08-18 20:47] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #10478
i can also confirm this issue on chrome. very strange

[2017-08-18 20:47] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #11943
i can also confirm this issue on chrome. very strange

[2017-08-18 21:13] Folant commented on #11981
https://github.com/EFForg/https-everywhere/issues/11948#issuecomment-323160151
It seems to affect [gfycat](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Gfycat.com.xml#L8)(e.g zippy.gfycat.com), [media.tumblr.com](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Tumblr.xml#L44)(e.g 68.media.tumblr.com), [shopify ](https://github.com/

[2017-08-18 21:20] ADAMPOKE111 commented on #11981
Interesting, nothing was changed recently regarding the way URLs are interpretted as far as I can tell. I might have overlooked this or just not noticed the issue before. I can confirm it is happening on all my devices using HTTPS Everywhere.

[2017-08-18 21:25] Folant commented on #11981
Well, v5.2.21 seems to be working fine with these rules that contain wildcards, 2017.8.15/2017.8.17 is not [at least for some of us].

[2017-08-18 21:35] ADAMPOKE111 commented on #11981
I think I'm going to take a look into this tomorrow and do some experimentation to see if I can remedy it. If anyone else has anything they'd like to contribute, feel free to chip-in.

[2017-08-18 22:32] Folant commented on #11981
#11980 has basically the same issue due to [Github-Pages.xml#L6](https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/Github-Pages.xml#L6) btw.

[2017-08-19 02:32] jeremyn commented on #11981
I agree with @Folant that wildcard targets aren't being rewritten, including both left wildcard targets such as http://www.imgur.com from [`Imgur.xml`](https://github.com/EFForg/https-everywhere/blob/a641125fc36c3a48a4cc4c33938fa369f397cfcc/src/chrome/content/rules/Imgur.xml#L32) and right wildcard targets such as http://google.com from [`Google.xml`](https://github.com/EFForg/https-everywhere/blo

[2017-08-19 02:35] jeremyn commented on #11980
Closing as duplicate of #11981 .

[2017-08-19 02:35] #11980 closed

[2017-08-19 02:36] jeremyn commented on #11970
Closing as duplicate of #11953 .

[2017-08-19 02:36] #11970 closed

[2017-08-19 02:37] jeremyn commented on #11948
@Kezxo The Imgur problem is being tracked in issue https://github.com/EFForg/https-everywhere/issues/11981.

[2017-08-19 02:39] jeremyn commented on #11944
This is probably a duplicate of issue https://github.com/EFForg/https-everywhere/issues/11948, but we can leave this open to separately track the problem in Tor, unless @Hainish disagrees.

[2017-08-19 03:18] cschanaj commented on #11981
@Hainish would you make a release of the 5.2.21 (with the rulesets files from 2017.8.17) with automatic updates disabled (to be shipped with the `tor-browser bundle` as a temporary solution for tor-users/ advanced users)?  For reasons being that

- many `target`s using wildcards, especially the `left` wildcards are important domains
- a large number of rulesets got re-activated after 5.2.21 is rel

[2017-08-19 03:41] Hainish commented on #11944
This is most closely a dupe of https://trac.torproject.org/projects/tor/ticket/23258#comment:25 on Tor's issue tracker, and loosely a duplicate of https://github.com/EFForg/https-everywhere/issues/11948.  I don't think we need 3 open issues, so I'm closing.

[2017-08-19 03:41] #11944 closed

[2017-08-19 04:51] Hainish commented on #11981
a69918f3fb356c422edc4c83fac95aba054b44a2 fixes this issue.  I'll try to make a release tomorrow.

As for a special release for Tor Browser, I've already instructed them how to make a release using `5.2.21` removing the update channel and checking out the latest rules.  Tor Browser builds in HTTPS Everywhere as part of their release process from signed tags, so it's not a matter of me making a spec

[2017-08-19 04:51] #11981 closed

[2017-08-19 05:39] ExE-Boss opened #11983 "Firefox Style UI"
Since there is #11813 for Chrome, I request we do a similar thing for Firefox using the [Firefox Panel Components](https://firefoxux.github.io/StyleGuide/#/navigation) for the popup on Firefox, because [Material](https://material.io/) [Design](https://getmdl.io/) clashes with [Photon](http://design.firefox.com/photon/) and [Australis](http://firefoxux.github.io/StyleGuide/).

[2017-08-19 07:25] koops76 commented on #11980
@jeremyn No, I've encountered this in Chrome.

[2017-08-19 10:21] Bisaloo opened #11986 "Order rulesets by name in popup"
When a website triggers a lot of rules, it may be hard to find out if a specific rulesets is active or not. It would help if active rulesets could be alphabetically ordered.

[2017-08-19 14:35] koops76 commented on #3798
#11988

[2017-08-19 15:01] anonvoy commented on #11977
My (single) custom rule in FF stopped working too. I have HTTPS Everywhere 2017.8.17 installed, FF on Linux. JS is enabled, cookies are enabled, local storage is enabled. I haven't changed those settings for a while. I've disabled HTTPS Everywhere for now.

[2017-08-19 21:12] Hainish commented on #11943
I'm not experiencing this behavior on Firefox 55 or the latest Chromium.  Are you still seeing this on >= 2017.8.17?

[2017-08-19 21:20] Hainish commented on #11977
Adding *new* rules to the `HTTPSEverywhereUserRules` directory will not work after the one-time migration in the Embedded WebExtension (>= 2017.8.15) is performed.  If you had old rules, they were migrated to the new extension.

To add new custom rules, you'll have to use the popup by visiting the https version of the site you want to add a rule for, clicking the extension icon, and clicking "Add

[2017-08-19 21:22] Hainish opened #11992 "Remove stale translations from English template"
This is inherited by all other languages.  We have quite a few older translations, we should remove these.

[2017-08-19 21:39] koops76 opened #11993 "If possible, rewrite the rulesets in a way that does not require HTTPS->HTTPS rules."
## Pending
- [ ] 7Headlines.com.xml
- [ ] Aeriagames.xml
- [ ] AJC.com.xml
- [ ] basekit.com.xml
- [ ] Blip.xml
- [ ] CA-State-Board-of-Equalization.xml
- [ ] Caltech.xml
- [ ] Care-Net.xml
- [ ] Comic-Con-Intl.xml
- [ ] Cru.org.xml
- [ ] DailyDot.xml
- [ ] Epic-Systems.xml
- [ ] Fasthosts.xml
- [ ] First_Class_Magazine.se.xml
- [ ] Google.xml
- [ ] HealthCheckUSA.xml
- [ ] InkFrog.com.xml
- [ ] I

[2017-08-19 21:41] #11311 closed

[2017-08-19 21:41] koops76 commented on #11311
Closing until Tumblr will migrate all blogs to HTTPS.

[2017-08-19 21:42] #10861 closed

[2017-08-19 23:41] jumper444 opened #11995 "Major internet keyservers are not forced to https"
Keyservers on the internet hold and verify encryption, keys, signatures, etc...of pretty much everything.  Keys are retrieved and uploaded using various programs such as GPG. However most, if not all, of these keyservers also have a web interface whereby the same keys can be searched for, verified, retrieved, etc.

Two of the largest keyservers are below.  You can visit their web interface normall

[2017-08-19 23:53] jumper444 commented on #11995
Here is a list of approx 114 keyservers that seem to be active across the internet and in some sort of verified 'pool':
https://www.sks-keyservers.net/status/

I don't know the criteria for this pool, but these seem to be the main authoritative internet keyservers.  I spot checked a few of them and most/all seem to have an http interface that will also switch to https if you manually retype the ur

[2017-08-20 00:40] cschanaj commented on #10843
@koops76 why do you open a new issue #11993 for this?

[2017-08-20 02:38] BK1233 opened #11997 "Ruleset Updates"
Can the https://www.pananasonic.com.au & https://www.sony.com.au rules be updated as they aren't being forced to HTTPS despite being working over HTTPS.

[2017-08-20 06:46] foobar13373 commented on #11943
@Hainish
With you latest changes regarding the localStorage, this is also working for me in the currently running browser session. This means:

The checkbox state is saved between browser starts, but the functionality only works if one dis- and reanables the checkbox after a restart (which comes from clearing the storage, I assume).

[2017-08-20 07:29] cschanaj commented on #7272
#11998

[2017-08-20 07:43] koops76 commented on #10843
@cschanaj It's on 3rd page now and no one sees it, so I created a new issue for the rest of the domains.

[2017-08-20 07:52] cschanaj commented on #10843
@koops76 there are pages of issues listed behind the 3rd pages, I don't really agree this is a good idea.

[2017-08-20 07:54] koops76 commented on #10843
@cschanaj No one notices it, that's why I re-opened this issue.

[2017-08-20 07:58] koops76 opened #12000 "Re-enable MIT.xml"
Important because of `pgp.mit.edu`.

[2017-08-20 07:58] koops76 commented on #11995
#12000

[2017-08-20 08:07] cschanaj commented on #10843
@koops76 imagine if everyone is doing this because nobody notice their issues, it will be pretty bad since bugs report and other issues will never get to the top.

[2017-08-20 08:10] koops76 commented on #10843
@cschanaj It's quite an important issue, and it's not my personal issue but a project which benefits HTTPS Everywhere as whole. We need this to disable listening for HTTPS connections and improve performance.

[2017-08-20 08:17] koops76 commented on #11995
#12001

[2017-08-20 08:32] koops76 commented on #11995
#12003

[2017-08-20 08:43] koops76 commented on #11995
#12004

[2017-08-20 08:46] koops76 commented on #11995
#12005

[2017-08-20 09:27] #12000 closed

[2017-08-20 10:04] jony0008 opened #12009 "Text missing in UI in Firefox when using non-"English (US)" language"
![strings](https://user-images.githubusercontent.com/23194385/29493883-b29e6af4-859f-11e7-860f-880e773b7105.png)

[2017-08-20 10:35] koops76 commented on #12009
Looks like an i18n issue.

[2017-08-20 11:02] Bisaloo commented on #11995
As a side note: most of the time, keyservers will be accessed using `hkp` not `http` so adding targets for them will only offer very limited protection.

[2017-08-20 16:01] Cynnexis commented on #12009
![bug](https://user-images.githubusercontent.com/2932967/29496339-e9b81f4a-85d0-11e7-9b6f-f527f23520ba.png)
I have the same problem on Firefox 52.3.0 on Ubuntu: There is nothing but the check boxes and the version string.

[2017-08-20 16:13] ghost opened #12015 "Nightly extension builds for Chrome and Firefox"
I think it would be good to have nightly builds for Chromium and Gecko-based browsers generated each day from Git repository snapshots by Travis or another CI solution.

[2017-08-20 16:16] J0WI commented on #5253
closed by #11804

[2017-08-20 16:16] #5253 closed

[2017-08-20 16:18] J0WI commented on #10017
closed by #11804

[2017-08-20 16:18] #10017 closed

[2017-08-21 01:07] ansell commented on #11943
I was seeing unencrypted requests succeeding with 20178.19 on Firefox-55.0.2 until I unchecked, and then came back and checked the setting again. Before doing that, the icon was also not red, as it was previously, but after that process, it is red again.

[2017-08-21 12:06] koops76 commented on #12015
ping @Hainish.

[2017-08-21 15:21] jumper444 commented on #11995
There is a specific and valuable use to access keyservers with HTTPS.  The GPG '--retrieve-keys' command (from a keyserver) does not use any encryption when downloading keys. (Surprising, I know).  Thus anything downloaded this way can be replaced MITM attack.

The reply/defense you will get on threads is 'well...it doesn't matter because all the keys verify each other in webs of trust and therefo

[2017-08-21 15:25] koops76 commented on #11995
@jumper444 The key's fingerprint won't match if was replaced.

[2017-08-21 17:14] J0WI commented on #11995
AFAIK the `no-honor-keyserver-url` option is default in GnuPG. You can also set your default `keyserver` in your `gpg.conf` to one that supports https or hkps.
But this is far away from the scope of this project.

Please add a list of specific HTTP hosts that are not yet included in HTTPS Everywhere.
You're also welcome to open PRs to add this hosts.

[2017-08-21 17:31] koops76 commented on #11995
@J0WI I am already working on adding the hosts from the list @jumper444 linked to.

[2017-08-21 18:28] jumper444 commented on #11995
Thank you koops.  I haven't written any rulesets (of course I could learn) however it also mentions that there are bulk toolsets available which is another step.  Someone familiar with both could do this in a fraction of the time (I haven't done a pull request yet either.)  If it isn't much more than a copy/paste/go/upload for somebody who has done dozens of these before, the help is appreciated.

[2017-08-21 21:04] jeremyn commented on #10843
@koops76 I agree with @cschanaj , please don't make duplicate issues. Aside from @cschanaj 's valid point of "what if everyone did this?", it also makes it harder to see the discussion around these problems like @Bisaloo 's and @cschanaj 's comments above.

It's best to consider these collection/checklist issues as being for your own reference, not for general viewing, in which case it doesn't mat

[2017-08-21 21:05] jeremyn commented on #11993
I'm closing this as a duplicate of #10843 . See https://github.com/EFForg/https-everywhere/issues/10843#issuecomment-323852757 for why.

[2017-08-21 21:05] #11993 closed

[2017-08-21 21:07] koops76 commented on #10843
@jeremyn Can you bump this issue up somehow?

[2017-08-21 21:10] jeremyn commented on #11995
It's definitely okay to create PRs to rewrite GPG-related domains to use HTTPS. That said, the equivalent for getting GPG keys through an encrypted channel using the `gpg` command-line tool is to use `hkps` URLs.

[2017-08-21 21:12] jeremyn commented on #10843
I'm not sure how I would do that, if I wanted to. The project is almost entirely volunteer-driven except for a few paid EFF people who also have other responsibilities.

[2017-08-21 23:51] jeremyn commented on #12009
What's an example URL or ruleset where this happens?

[2017-08-22 00:38] J0WI commented on #12015
Duplicate of #11805

[2017-08-22 06:06] Cynnexis commented on #12009
In my case, this bug appears regardless of the URL, even in the Start Page `about:home`. For the ruleset, I noticed that each time I try to check/uncheck a box, the panel close, and when I reopen it, the configuration did not change (same config as the image below: first box checked, this other uncheck).

![](https://user-images.githubusercontent.com/2932967/29496339-e9b81f4a-85d0-11e7-9b6f-f527f2

[2017-08-22 08:52] koops76 commented on #12015
@J0WI You probably confused nightly builds with Firefox Nightly update channel.

[2017-08-22 08:58] koops76 commented on #12009
@Cynnexis Send me a developer console log.

[2017-08-22 08:59] koops76 commented on #12009
It looks like JavaScript in `popup.html` have crashed.

[2017-08-22 13:06] J0WI commented on #12015
You didn't add any description, so it's hard to guess what you mean.

[2017-08-22 13:54] koops76 commented on #12015
@J0WI Re-open please.

[2017-08-22 14:21] Bisaloo commented on #12009
I can reproduce on Tor Browser 7.0.4.

[2017-08-22 14:49] jeremyn commented on #11977
@Hainish What can't you reproduce? It sounds like this is expected behavior given the discussion in https://github.com/EFForg/https-everywhere/issues/9958#issuecomment-314901523 and elsewhere.

[2017-08-22 15:04] sdmeyers commented on #11977
Thanks @Hainish missed the new "Add a rule for this site" option. Everything works as expect now; however, my existing rule did not migrate, so if this was supposed to be a seamless upgrade, it wasn't.

[2017-08-22 18:24] Hainish commented on #11977
@jeremyn I can't reproduce the specific failure @sdmeyers mentions - the migration not actually working.

[2017-08-22 18:35] Hainish commented on #11977
@koops76 I have a queue, please do not comment on unrelated issues

[2017-08-22 19:18] Hainish commented on #11943
@foobar13373 glad to hear the latest changes fixed this issue, unless I'm misunderstanding.  Feel free to close if this is no longer an issue.

[2017-08-22 19:31] #10877 closed

[2017-08-22 19:36] #11977 closed

[2017-08-22 19:51] goldenbr0wn commented on #1775
<img width="557" alt="capture d ecran 2017-08-22 a 21 48 27" src="https://user-images.githubusercontent.com/7682547/29584344-b797f454-8783-11e7-9494-b11f533cf855.png">
Same issue with over 200mb on Chrome 60.

[2017-08-23 00:31] Hainish commented on #11948
At this point, this seems to be out of our control.  https://bugzilla.mozilla.org/show_bug.cgi?id=1329731 is the issue to track for this.

[2017-08-23 00:31] #11948 closed

[2017-08-23 00:45] Hainish commented on #3798
@J0WI thanks for the tip.  I'm going to close this issue for the reasons described above in https://github.com/EFForg/https-everywhere/issues/3798#issuecomment-249998001

[2017-08-23 00:45] #3798 closed

[2017-08-23 06:12] Cynnexis commented on #12009
@koops76 How can I access to the console log?

[2017-08-23 10:13] koops76 commented on #12009
@Cynnexis `F12` > Console

[2017-08-23 14:34] stanlane commented on #9446
They have updated their certificate now.

[2017-08-23 15:29] #8482 closed

[2017-08-23 16:43] JohnDoeInTheSnow opened #12070 ""Block all unencrypted requests" Issue on start up"
When I open Chrome (without any other "chromes" open) the "S" icon starts as blue, flashes red, then is back to blue. When I click on the icon, "Block all unencrypted requests" is checked, but I am still able to go to encrypted sites. (I just search "news" and go to www.bbc.com/news to test this)

If I uncheck and re-check the box (block all unencrypted requests) and reload the site (www.bbc.com/n

[2017-08-23 18:30] mkjorling commented on #12009
I had the exact same result at first as @Cynnexis showed a screenshot of above. Curiously, when I opened the console through Tools > Web Developer > Web Console, and cleared the console log by clicking on the trash can icon to the left in its toolbar (I don't know if this is really relevant or not, but am including it for completeness; there was no relevant output before I cleared the console), HT

[2017-08-23 19:38] jumper444 commented on #11995
"hkps" (I had to look it up) is just one more protocol/setting/option/transport that a person has to learn (or know about; I didn't) in order to get things done in life.  (And what I did find didn't say it was encrypted...it just said it was the special method of transporting keys, like json and others are special ways of packaging data.)

In today's world there are simply too many complexities al

[2017-08-23 19:53] Bisaloo commented on #12070
Duplicate of https://github.com/EFForg/https-everywhere/issues/10478.

[2017-08-24 00:04] #12070 closed

[2017-08-24 05:10] Bisaloo commented on #10478
@J0WI, could you also add the `chrome` tag since it apparently affects both browser?

[2017-08-24 06:09] aemxdp opened #12075 ""Block all unencrypted requests" is broken in Chrome"
When you turn it on for the first time, it works. When you restart browser, it's not. Icon is blue, but the checkbox is checked. If you uncheck the checkbox and then check it back, it works again.

HTTPS Everywhere (Version: 2017.8.19)
Chrome Version 60.0.3112.101 (Official Build) (64-bit)

[2017-08-24 07:01] gloomy-ghost opened #12076 "Ruleset is shown as activated even when the request is blocked"
STR:
1. Install uMatrix and block all 3rd parties.
2. Open https://zh.moegirl.org/Mainpage
3. Check activated rulesets

Expected:
No ruleset should be shown

Actual:
Ruleset for 3rd parties resources are shown
![default](https://user-images.githubusercontent.com/13086421/29653320-6c17c7ae-88fd-11e7-8b32-fdaee0c314fa.png)

Can be reproduced on both Chrome and Firefox

[2017-08-24 07:06] gloomy-ghost commented on #1767
Silverlight is already depreciated in Firefox
https://support.mozilla.org/en-US/kb/npapi-plugins

[2017-08-24 07:06] #1767 closed

[2017-08-24 07:06] Cynnexis commented on #12009
I opened the console windows juste like @koops76 said and load a page (Qwant.com in this case) . Then I clicked the _HTTPS Everywhere_ button, but no outputs appeared in the console:
![bug](https://user-images.githubusercontent.com/2932967/29653635-e783a12c-88aa-11e7-9295-83c89a94703e.png)
Clicking the trash icon to clear the console did nothing, even when I reopened _HTTPS Everywhere_ panel.

[2017-08-24 07:16] #10705 closed

[2017-08-24 08:02] gloomy-ghost commented on #9364
[Wikia.xml](https://github.com/EFForg/https-everywhere/blob/203375992d37e878d585e49d050fea283f51e390/src/chrome/content/rules/Wikia.xml) is disabled because most pages redirect back to http. They still use https for login though, if anyone want to address that in the ruleset feel free to do so. Closing this issue for now as the website doesn't support https.

[2017-08-24 08:02] #9364 closed

[2017-08-24 11:11] mkjorling commented on #12009
Sorry; strike my previous comment. I believe I've found what caused the issue shown in https://github.com/EFForg/https-everywhere/issues/12009#issuecomment-323594187 at least in my case: Javascript. If I use the "Toggle Javascript" add-on toolbar button to completely disable Javascript, then the HTTPS Everywhere dropdown shows as essentially empty and doesn't work, as previously shown. If I turn J

[2017-08-24 15:49] jeremyn commented on #12009
In that case this is a duplicate of issue #11948, see specifically https://github.com/EFForg/https-everywhere/issues/11948#issuecomment-323188167. There are issues opened against both Firefox and Tor as linked in https://github.com/EFForg/https-everywhere/issues/11948#issuecomment-323231663.

[2017-08-24 16:11] jeremyn commented on #12076
`https://github.com/Synzvato/decentraleyes/issues/148#issuecomment-285121088` might be interesting. It links to https://developer.chrome.com/extensions/webRequest , which under the section "Conflict Resolution" says:

Here I guess both uMatrix and HTTPS Everywhere are modifying the request -- uMatrix by blocking, HTTPS Everywhere by rewriting -- and uMatrix's action is  "winning" but HTTPS Everywh

[2017-08-24 22:18] J0WI commented on #12015
Please add a description.

[2017-08-25 02:50] cschanaj commented on #10782
@J0WI do you mind to have a review on #10791 such that I can close this issues?

[2017-08-25 05:42] koops76 opened #12087 "Use Ed25519 instead of RSA for ruleset signatures."
- Higher security with much smaller key size.
- Possibly faster
- Used in respected open source projects ([1](https://en.wikipedia.org/wiki/EdDSA#Software), [2](https://en.wikipedia.org/wiki/Curve25519#Popularity)).

There is already a library that can run in a browser: https://github.com/dchest/tweetnacl-js.

[2017-08-25 05:42] koops76 commented on #12087
ping @Hainish.

[2017-08-25 07:07] Bisaloo commented on #12075
Duplicate of https://github.com/EFForg/https-everywhere/issues/10478.

[2017-08-25 08:45] numismatika commented on #12076
I think this a bigger problem that should be adressed upstream at both browsers root.
If you have multiple addons interfering and listening to redirects you get a lot of wrong info.
If you have an Adblocker like UBO, HTTPS-Everywhere & SmartHTTPS, Info Addons like SixOrNot&Cert Patrol and a Privacy aware addon like Decentral Eyes, the state shown by these addons can become wrong rather fast. Not t

[2017-08-25 11:22] techtonik commented on #1775
This thread needs to be reticketed with a list of possible solutions if someone still wants to fix the problem.

[2017-08-25 11:42] #12075 closed

[2017-08-25 11:46] J0WI commented on #11947
Do you have an exact url of an affected page?

[2017-08-25 11:48] J0WI commented on #11874
closed by #11933

[2017-08-25 11:48] #11874 closed

[2017-08-25 12:08] mueller-ma opened #12088 "FF: Dev Tools: HTTPS Everywhere Tab has black font even in the dark theme"
I have FF 56.0b5 and the Theme "Compact Dark" (included in FF) enabled. The black font in the https everwhere tab in the developer tools with a dark background is not very good readable.

[2017-08-25 12:23] itzameongithub commented on #11947
In particular
https://www.subscribeonandroid.com/widescreen.org/rss_itunes.xml results in
a "not found" with regards to the podcast list. Going to it unsecured lists
all of the podcasts for that particular subscription. I think it's
reasonable to assume that any other podcast subscription will fail with the
same problem.

  John

On Fri, Aug 25, 2017 at 7:46 AM, J0WI <notifications@github.com> wro

[2017-08-25 12:24] itzameongithub commented on #11947
In particular https://www.subscribeonandroid.com/
widescreen.org/rss_itunes.xml results in a "not found" with regards to the
podcast list. Going to it unsecured lists all of the podcasts for that
particular subscription. I think it's reasonable to assume that any other
podcast subscription will fail with the same problem.

On Fri, Aug 25, 2017 at 7:46 AM, J0WI <notifications@github.com> wrote:

--

[2017-08-25 14:48] mkjorling opened #12090 "Custom user rules not being applied after upgrade to 2017.8.19"
Firefox ESR 52.3.0 / 64-bit, Debian

I have two rule files in `HTTPSEverywhereUserRules` under my Firefox profile directory. Both name the hosts specifically; these are not wildcard rules. The files are named as `X.ruleset` where `X` is the base domain name (such as, not actually, `eff.org` rules being in `eff.org.ruleset`). Both rule files are essentially equivalent to the top example at https://

[2017-08-25 14:57] jeremyn commented on #12090
You linked to other issues so I assume you understand that HTTPS Everywhere is slowly migrating to the new WebExtensions way of making extensions.

The custom rules situation with WebExtensions is not as good as it used to be with XUL/XPCOM. Please take a look at https://github.com/EFForg/https-everywhere/issues/9958 and https://github.com/EFForg/https-everywhere/issues/10822, particularly https:/

[2017-08-25 14:59] jeremyn commented on #12087
Where in the code do we use cryptographic signatures? I've tried to answer this question with some searches in GitHub, but couldn't.

[2017-08-25 15:12] mkjorling commented on #12090
So current status is that it's not possible to store custom HTTPS Everywhere rules locally for testing before submitting, even though the documentation says nothing other than that it'll work just fine? If so then I repeat my request from the end of the initial post, please make sure that the documentation reflects the current state of the extension.

I did try using "Add a rule for this site" but

[2017-08-25 15:19] koops76 commented on #12087
@jeremyn https://github.com/EFForg/https-everywhere/tree/sign-rulesets.

[2017-08-25 15:28] koops76 commented on #1775
I have a few ideas.

[2017-08-25 16:39] koops76 commented on #12015
@J0WI Did we have any identical issues?

[2017-08-25 16:57] J0WI commented on #12015
Please clarify how this issue differs from #11805

[2017-08-25 17:00] koops76 commented on #12015
@J0WI Done. Remove the duplicate tag please.

[2017-08-25 17:03] koops76 commented on #12088
@mueller-ma Can you attach a screenshot?

[2017-08-25 20:18] Hainish commented on #11247
Fixed! Thanks

[2017-08-25 20:18] #11247 closed

[2017-08-25 20:21] monstertruckpa commented on #1775
Memory leakwit data Mined .

[2017-08-25 20:28] koops76 commented on #1775
Someone block @monstertruckpa.

[2017-08-25 20:40] jeremyn commented on #12087
Thanks @koops76 .

@Hainish By the way, I disagree with the entire approach of out-of-band updates for rulesets. See my comments in https://github.com/EFForg/privacybadger/issues/1466#issuecomment-315792144 and following for Privacy Badger for why.

[2017-08-25 20:41] koops76 commented on #12087
@jeremyn In turn, I disagree with you, but let's save this for another time. Let's discuss this issue instead.

[2017-08-25 20:47] koops76 commented on #11114
@J0WI Review the PRs from here please.

[2017-08-25 20:54] Hainish commented on #12087
@koops76 I'd rather use the WebCrypto API than some library, even if it has been publicly audited.  The longevity of crypto APIs implemented directly in the browser seems better assured.  We also need something which is supported by `openssl`, given the signature scripts in `util`:
https://github.com/EFForg/https-everywhere/blob/sign-rulesets/utils/sign-rulesets-standalone.sh
https://github.com/EF

[2017-08-25 20:57] jeremyn commented on #12087
In the gist https://gist.github.com/tqbf/be58d2d39690c3b366ad by the highly respected security expert Thomas Ptacek, under "Asymmetric signatures" he says

which supports @koops76 's point. On the other hand it's hard to argue with wanting to use the API included in the browser.

[2017-08-25 21:12] jeremyn commented on #12090
If the custom ruleset files were there before you upgraded from the XUL/XPCOM version of the extension to the current "embedded WebExtensions" approach, then the rulesets should have been imported during a one-off process from the files to an internal storage mechanism. If you added or modified the ruleset files after you upgraded the extension to an embedded WebExtensions version, then you need t

[2017-08-25 21:13] #10182 closed

[2017-08-25 21:14] jeremyn commented on #12090
Also,

sounds like the suggestion in issue https://github.com/EFForg/https-everywhere/issues/11794. Please feel free to add your thoughts on this interface to that issue.

[2017-08-25 21:20] monstertruckpa commented on #1775
Sorry is a joke, Im also hoping that they will improve the consumption,
Many people can not live without this extension. so sorry friends.

[2017-08-25 21:39] koops76 commented on #12087
@Hainish Signing can be done by a Node script. Do not trade security for using built-in browser features.

[2017-08-25 21:41] koops76 commented on #12087
@Hainish I believe this should be decided either by public discussion or by EFF's crypto experts.

[2017-08-25 21:47] koops76 commented on #1775
@Hainish Lock this issue for Talos' sake!

[2017-08-25 22:03] Hainish commented on #12087
We use an airgapped signing machine, node is not installed on it.

For RSA signatures, the risk is prime factorization in a prime  product modulus field.
For ECDSA, the risk is the Elliptic Curve Discrete Logarithm Problem.

The general consensus is that choosing two large prime factors for RSA (2048-bit for a prime product of a 4092-bit modulus) is more than enough to protect against a brute-forc

[2017-08-25 22:04] #12087 closed

[2017-08-25 22:07] koops76 commented on #12087
@Hainish I don't think this should be closed before public discussion or crypto experts making a decision.

[2017-08-25 22:07] koops76 commented on #12087
@Hainish Node is not required, just install something that can use NaCl for signing.

[2017-08-25 22:09] koops76 commented on #12087
@Hainish I still disagree with you closing this issue without actually consulting the public or your colleagues at EFF.

[2017-08-25 22:09] Hainish commented on #12087
The problem with crypto experts is there's about 3 of them in the world.  This isn't a problem that requires a crypto expert, it's a problem that requires a third-party audit of a security firm.

[2017-08-25 22:09] koops76 commented on #12087
@Hainish There are more.

[2017-08-25 22:10] Hainish commented on #12087
This problem lies in the stack far above the actual crypto, this is an application problem.

[2017-08-25 22:11] koops76 commented on #12087
Also, read https://github.com/EFForg/https-everywhere/issues/12087#issuecomment-325045120.

Did I say consult Bruce Schneier? Maybe Satoshi Nakomoto? I asked you to consult your *colleagues*.

[2017-08-25 22:11] koops76 commented on #12087
That doesn't give us an excuse to use a weaker algorithm.

[2017-08-25 22:12] Hainish commented on #12087
And in application, RSA is a fine choice for this problem.  Conceivably there is something marginally better, but the real issue is not in the algorithm, it's in the way it's implemented.  This is why we're already seeking consultation from 3rd party security firms.

[2017-08-25 22:16] koops76 commented on #12087
@Hainish Better have some refactoring on this code before showing it to security firms. I am sure there are lots of potentially security-decreasing flaws in the current code. It was written before there were any real code quality standards. We only have added ESLint very recently.

[2017-08-25 22:16] koops76 commented on #12087
@Hainish I still believe this project should use a better algorithm than the currently used one.

[2017-08-25 22:29] koops76 commented on #12087
@Hainish Your "air-gap" scheme is no more secure than simply signing on a Internet-connected machine.
A compromised machine can output *any* SHA hash, tricking you into signing *any* hash.
Also it's easier to sneak a dodgy ruleset into the GitHub repository than trying to fool your "air-gap" scheme. Are you going to personally read each ruleset file?

[2017-08-26 00:15] koops76 commented on #3069
From #6055:
 - abyssproject.net
 - nsweb.solutions

[2017-08-26 00:37] J0WI commented on #12015
That's exactly what I would expect from #11805. Maybe not daily, but regular snapshots or prereleases to test new features.

[2017-08-26 00:45] koops76 commented on #12015
@J0WI Then ask @Hainish to add the clarification if it is what his issue means.

[2017-08-26 00:47] Hainish commented on #12015
I see a nightly build being different from a dev version.  Usually nightlies are based on the master branch, but the `dev` version is actually pulling from the (as yet unreleased) WebExtensions branch.

[2017-08-26 00:48] koops76 commented on #12015
Both should have nightlies built by Travis CI.

[2017-08-26 00:50] Hainish opened #12097 "Icon does not update in Chrome transition, new tab -> extension options"
### Expected Behavior
Icon should be inactive when viewing options page.

### To Reproduce

1. While running in Chrome, open a new tab.  The Google interstice page with square, recent site visits should appear.  The icon should show the bright blue `active`, since several Google rulesets are active.
2. Right-click the HTTPS Everywhere icon, then click "options"

### Observed Behavior

The icon is

[2017-08-26 00:51] Hainish commented on #12015
I'm working on https://github.com/EFForg/https-everywhere/issues/11805 on Monday.

[2017-08-26 00:54] koops76 commented on #12015
@Hainish Can you give the list of all rule reviewers? I think there are 5. Needed for #12096. Also is @cowlicks a code reviewer for HTTPS Everywhere?

[2017-08-26 00:57] koops76 commented on #12087
@Hainish Please bring this before your colleagues at EFF. Decisions like this should not be taken by one man.

[2017-08-26 05:32] ejaszewski commented on #11805
Probably best to publish the WebExt version at https://www.eff.org/files/https-everywhere-test/index.html as a Beta on Mozilla's plugin website. This will allow users of Firefox who need a Web Extensions version to auto-update the plugin, rather than having to reinstall from the eff.org website for each version.

[2017-08-26 09:56] gloomy-ghost commented on #4219
Verified as fixed in release 2017.8.19, but feel free to re-open this if anyone is still having the issue.

[2017-08-26 09:56] #4219 closed

[2017-08-26 10:13] gloomy-ghost commented on #9792
Closing as the about window is gone in the transition to WebExtension

[2017-08-26 10:13] #9792 closed

[2017-08-26 11:48] gloomy-ghost commented on #5148
http://www.livingstreams.tv moved to https

[2017-08-26 11:48] #5148 closed

[2017-08-26 12:30] gloomy-ghost commented on #9433
I am unable to reproduce this issue, @terrorist96 can you confirm if this issue is fixed?

[2017-08-26 12:33] gloomy-ghost commented on #12088
![default](https://user-images.githubusercontent.com/13086421/29741369-4402f48c-8abf-11e7-860c-998684b04690.png)

[2017-08-26 12:41] gloomy-ghost commented on #11870
I created a similar PR before, see #7892

[2017-08-26 13:27] koops76 commented on #11805
@ejaszewski This version is not ready for non-developer use.

[2017-08-26 13:38] koops76 commented on #12088
Can't reproduce on Firefox WebExtensions.

[2017-08-26 13:40] mgol commented on #9958
@Hainish

Please release the purely-webextension-based version some time before the Firefox 57 release, though. Mozilla Add-ons has a review process that's not instant. I imagine the number of version bumps in this period may be larger than usual which may enlarge review times. It'd be good to submit it early enough so that it passes the review before the Firefox 57 release.

The version hosted on

[2017-08-26 14:33] mueller-ma commented on #12088
Same in FF 54. I think this theme was introduced anywhere between 50 and 52.

[2017-08-26 15:47] terrorist96 commented on #9433
Confirmed.

[2017-08-26 15:47] #9433 closed

[2017-08-26 15:53] terrorist96 commented on #3069
Both redirect already.

[2017-08-26 16:02] koops76 commented on #3069
@terrorist96 But neither are preloaded.

[2017-08-26 16:04] terrorist96 commented on #3069
Sure, but it's outside the scope of this list. This is only for sites that support https but don't automatically redirect. Else, every single site in the world that supports https (that doesn't have a rule yet) would need to be added to this list.

[2017-08-26 16:11] koops76 commented on #3069
@terrorist96 Please document the scope of this list in the first comment then.

[2017-08-26 16:11] ghost opened #12118 "List of uncovered domains for potential new rules"
Can you please add rules for the following websites:
https://www.indeed.co.uk/
https://www.ulster.ac.uk/
https://www.shu.ac.uk/
https://www.hud.ac.uk/
https://www2.mmu.ac.uk/
~~https://solarmoviez.to/~~ gone
~~https://fmovies.is/~~ ~~now https://123movies.com/~~
https://aib.ie/
https://www.bankofireland.com/
https://www.rbs.com/
https://www.ebs.ie/
https://www.kbc.ie/
https://www.home.barclays/
ht

[2017-08-26 16:12] terrorist96 commented on #3069
![image](https://user-images.githubusercontent.com/12802056/29743048-c7b88426-8a57-11e7-8187-f70179b84900.png)

[2017-08-26 16:12] koops76 commented on #3069
@terrorist96 Thanks!

[2017-08-26 16:13] ghost opened #12119 "Add abyssproject.net"
#6055

[2017-08-26 16:13] ghost opened #12120 "Add nsweb.solutions"
#6055

[2017-08-26 17:15] koops76 opened #12122 "Add more rulesets for .onion domains from Certificate Transparency list"
List of all certificates issued for `.onion` domains, based on https://crt.sh/?q=%25.onion.
- [x] 3g2upl4pq6kufc4m.onion (#12150)
- [x] ajarouh33jee5tos.onion (#12154)
- [x] blockchainbdgpzk.onion (#12129)
- [x] ~~blockchatvqztbll.onion~~ (mismatched)
- [x] ~~btcforuml2pcfkyx.onion~~ (expired)
- [x] coinpaymtstgtibr.onion (#12140)
- [x] cyphdbyhiddenbhs.onion
- [x] facebookcorewwwi.onion
- [x] fbc

[2017-08-26 19:09] ejaszewski commented on #11805
@koops76 It would still be appropriate to add it as an Alpha version then. Either way for alphas and betas on the Mozilla plugins website, the user must explicitly access them, so end users who have no need for a beta version wouldn't even see them on the normal version listing.

[2017-08-26 20:19] cowlicks commented on #12015
@koops76 I might be reviewing some code soon, so yes.

[2017-08-26 20:57] koops76 commented on #12015
@cowlicks How good are you at crypto? I need more opinions on #12087.

[2017-08-26 22:26] gloomy-ghost commented on #709
Closing as we are moving to WebExtension

[2017-08-26 22:26] #709 closed

[2017-08-26 22:32] gloomy-ghost commented on #6880
The WebExtension UI has shipped

[2017-08-26 22:32] #6880 closed

[2017-08-26 22:33] gloomy-ghost commented on #509
Closing as we are moving to WebExtension

[2017-08-26 22:33] #509 closed

[2017-08-26 22:35] gloomy-ghost commented on #4909
Closing as we are moving to WebExtension

[2017-08-26 22:35] #4909 closed

[2017-08-26 22:36] gloomy-ghost commented on #4664
Closing as we are moving to WebExtension

[2017-08-26 22:36] #4664 closed

[2017-08-26 22:40] gloomy-ghost commented on #418
Closing as we are moving to WebExtension

[2017-08-26 22:40] #418 closed

[2017-08-26 22:41] gloomy-ghost commented on #7682
The version number is the date of release now

[2017-08-26 22:41] #7682 closed

[2017-08-26 22:44] gloomy-ghost commented on #378
Closing as we are moving to WebExtension

[2017-08-26 22:44] #378 closed

[2017-08-26 22:46] xxdesmus opened #12132 "Typo in Bigdinosaur{.}org ruleset"
`https://www.eff.org/https-everywhere/atlas/domains/bigdinosaur.org.html` has a typo.

specifically this line:

[code]

note the extra 'o' in dinosaur.

The line should be:

[code]

[2017-08-26 22:55] gloomy-ghost commented on #10018
I would say this is something needs to be addressed at browser's side.
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=878890

[2017-08-26 22:58] gloomy-ghost commented on #10018
I am pretty sure the image resources can be processed, just the UI still shows mixedcontent
![default](https://user-images.githubusercontent.com/13086421/29745707-a4ae6792-8b16-11e7-96ea-c1e5de950320.png)

[2017-08-27 02:43] PikadudeNo1 opened #12136 "Firefox version breaks CORS requests"
http://brackets.io/#features attempts to load a cross-origin file from s3.amazonaws.com to determine what to show in the New Features section. With HTTPS Everywhere installed and its AmazonWebServices enabled, brackets.io is denied that file and this error appears in the Browser Console:

Firefox 55.0.3, HTTPS Everywhere 2017.8.19.

[2017-08-27 02:47] koops76 commented on #12136
@PikadudeNo1 WebExtensions?

[2017-08-27 03:30] cschanaj commented on #12136
Related #11640

[2017-08-27 05:47] bardiharborow opened #12139 "hsts-prune is still pointed to the discontinued Firefox Aurora release"
The preload list for Firefox Aurora [hasn't been updated since April](https://hg.mozilla.org/releases/mozilla-aurora/log/tip/security/manager/ssl/nsSTSPreloadList.inc). We'll need to point hsts-prune to Firefox Nightly instead, and make changes to support the new format of `nsSTSPreloadList.inc`.

[2017-08-27 05:50] Bisaloo commented on #12122
btcforuml2pcfkyx.onion cert expired

[2017-08-27 06:14] gloomy-ghost commented on #12136
Duplicate of #49

[2017-08-27 06:14] #12136 closed

[2017-08-27 06:22] #12132 closed

[2017-08-27 10:10] gloomy-ghost commented on #6761
SSL observatory is gone in the transaction to WebExtension

[2017-08-27 10:10] #6761 closed

[2017-08-27 10:21] gloomy-ghost commented on #9697
Thanks @Bisaloo, closing as duplicate of #5599

[2017-08-27 10:21] #9697 closed

[2017-08-27 11:07] gloomy-ghost commented on #8905
Woot.com supports https now and shouldn't be triggering CORS blocking anymore. Can you confirm if the issue is fixed?

[2017-08-27 17:03] koops76 commented on #12139
@bardiharborow Maybe you mean Firefox Developer Edition?

[2017-08-27 19:24] koops76 commented on #11680
@J0WI Close please.

[2017-08-27 19:24] koops76 commented on #9135
@J0WI Close please.

[2017-08-27 19:25] koops76 commented on #6589
@J0WI Close please.

[2017-08-27 20:15] #6589 closed

[2017-08-27 20:16] #9135 closed

[2017-08-27 20:16] #11680 closed

[2017-08-27 20:55] terrorist96 opened #12151 "Trying to add new rule, get 500 error"
I'm trying to alter this rule:
https://github.com/EFForg/https-everywhere/blob/master/src/chrome/content/rules/torrentdownloads.me.xml
(https://github.com/EFForg/https-everywhere/edit/master/src/chrome/content/rules/torrentdownloads.me.xml)
to add:
[code]

But I keep getting a 500 error. I reported to Github, but in the meantime, can someone else try to make this edit?
Thanks.